@import "compass";
@import "theme_variables";
#search_block_top {
	margin-top:30px;
	position:relative;
	display:inline-block;
	width:100%;
	@media (min-width:$screen-md) {
		max-width:370px;
	}
	@media (min-width:$screen-lg) {
		max-width:470px;
	}
	#searchbox {
		position:relative;
		width:100%;
	}
	.btn.button-search {
	    background:#858585;
		display: block;
		position:relative;
		border: none;
		color: $light-text-color;
		width: 50px;
		text-align: center;
		line-height:40px;
		height:40px;
		padding:0;
		 position:absolute;
		top:0;
		right:0;
		padding:0;
		span {
			display: none;
		}
		&:before {
			content: "\e618";
			display: block;
			font-family: $font-pe;
			font-size: 24px;
			width: 100%;
			text-align: center;
			position:absolute;
			top:0;
			left:0;
			bottom:0;
			top:0;
		}
		&:hover {
			background:$main-background;
		}
		&:active {
			box-shadow:none;
		}
	}
	#search_query_top {
		padding: 10px 50px 10px 10px;
		height:40px;
		width:100%;
		z-index:1;
		color: #898989;
		background:#fff;
	    border:0;
		background:#f6f6f6;
		@include pos-transition(300ms);
		&:focus {
			box-shadow:none;
		}
	}

}

.ac_results {
	background: $light-background;
	border: 1px solid $base-border-color;
	margin-top: -1px;

	li {
		padding: 0 10px;
		font-weight: normal;
		color: #686666;
		font-size: 13px;
		line-height: 22px;
		&.ac_odd {
			background: $light-background;
		}
		&:hover, &.ac_over {
			background: $base-box-bg;
		}
	}
}

@media (max-width:$screen-xs-max) {
	#search_block_top {
		position:static;
		margin-top:25px;
		width:100%;
		#searchbox {
			float: none;
			margin-bottom: 20px;
		}
		
	}
	
}