.pos-bestsellers { display: inline-block; width: 100%; margin-bottom: 50px; }
.pos-bestsellers .item-product { overflow: hidden; }
.pos-bestsellers .item-product:hover .product-contents { -webkit-transition: all 300ms ease-in; -moz-transition: all 300ms ease-in; -ms-transition: all 300ms ease-in; -o-transition: all 300ms ease-in; transition: all 300ms ease-in; bottom: 0; opacity: 1; }
.pos-bestsellers .item-product .product-contents { opacity: 0; position: absolute; bottom: -100px; left: 0; right: 0; background-color: rgba(255, 255, 255, 0.7); -webkit-transition: all 300ms ease-in; -moz-transition: all 300ms ease-in; -ms-transition: all 300ms ease-in; -o-transition: all 300ms ease-in; transition: all 300ms ease-in; }
.pos-bestsellers .item-inner { position: relative; display: inline-block; width: 100%; margin-bottom: 30px; cursor: pointer; }
