@import "compass";
@import "theme_variables";
.header_userinfo {
	float:right;
	position: relative;
	margin-top:20px;
	@media (max-width:$screen-xs  - 1) {
		float:none;
		display:inline-block;
	}
	.top-userinfo {
		display:inline-block;
		&:hover .top-links {
			color:$hover-color;
		}
		.top-links {
			font-weight: normal;
			padding:0 12px;
			letter-spacing: 0.1em;
			border:$main_border;
			border-right:0;
			height:35px;
			line-height:33px;
			letter-spacing:1px;
			color:$base-text-color;
			text-shadow: none;
			font-size:13px;
			cursor: pointer;
			text-transform:capitalize;
			&:before {
				content: "\e607";
				font-family: $font-pe;
				font-size: 22px;
				padding-right: 5px;
				vertical-align: -2px;
			}
		}
		ul {
			display: none;
			position: absolute;
			padding:5px 0;
			top:34px;
			left:0;
			min-width: 157px;
			background:#fff;
			border:$main_border;
			z-index: 2;
			li {
				color:$base-text-color;
				line-height: 30px;
				font-size: 14px;
				a,
				> span {
					padding: 0 15px;
					display: block;
					color:$base-text-color;
				}
				&.selected, &:hover a {
					color:$hover-color;
				}
				
			}
		}
	}
}