@media (max-width: 480px) { .tab-category-container-slider .cate_item { width: 100%; float: none; } }
.tab-category-container-slider .pos_tab { display: inline-block; width: 100%; margin-bottom: 30px; padding-bottom: 20px; border-bottom: 1px solid #e5e5e5; }
.tab-category-container-slider .pos_tab .pos-title { margin-bottom: 0; float: left; }
.tab-category-container-slider .tab_cates { position: relative; float: right; }
.tab-category-container-slider .tab_cates li { position: relative; display: inline-block; line-height: 1; letter-spacing: 0.06em; padding: 0 20px; text-transform: capitalize; border-left: 1px solid #000000; cursor: pointer; color: #000000; font-size: 15px; font-weight: 400; -webkit-transition: all 300ms ease-in; -moz-transition: all 300ms ease-in; -ms-transition: all 300ms ease-in; -o-transition: all 300ms ease-in; transition: all 300ms ease-in; }
.tab-category-container-slider .tab_cates li:first-child { border-left: 0; }
.tab-category-container-slider .tab_cates li:last-child { padding-right: 0; }
.tab-category-container-slider .tab_cates li.active, .tab-category-container-slider .tab_cates li:hover { color: #898989; -webkit-transition: all 300ms ease-in; -moz-transition: all 300ms ease-in; -ms-transition: all 300ms ease-in; -o-transition: all 300ms ease-in; transition: all 300ms ease-in; }
.tab-category-container-slider .showless { display: none !important; }
.tab-category-container-slider .loadmore { display: inline-block; width: 100%; text-align: center; }
.tab-category-container-slider .loadmore span { color: #333333; border: 1px solid #333333; font-size: 13px; font-weight: 700; text-transform: uppercase; cursor: pointer; line-height: 43px; padding: 0 25px; display: inline-block; -webkit-transition: all 300ms ease-in; -moz-transition: all 300ms ease-in; -ms-transition: all 300ms ease-in; -o-transition: all 300ms ease-in; transition: all 300ms ease-in; }
.tab-category-container-slider .loadmore span:before { font-family: "Pe-icon-7-stroke"; content: "\e6c2"; font-size: 22px; vertical-align: -6px; margin-right: 10px; display: inline-block; }
.tab-category-container-slider .loadmore span:hover { -webkit-transition: all 300ms ease-in; -moz-transition: all 300ms ease-in; -ms-transition: all 300ms ease-in; -o-transition: all 300ms ease-in; transition: all 300ms ease-in; }
.tab-category-container-slider .loadmore span:hover:before { -webkit-transition: all 300ms ease-in; -moz-transition: all 300ms ease-in; -ms-transition: all 300ms ease-in; -o-transition: all 300ms ease-in; transition: all 300ms ease-in; -webkit-animation: spin 1500ms linear infinite; -moz-animation: spin 1500ms linear infinite; -ms-animation: spin 1500ms linear infinite; -o-animation: spin 1500ms linear infinite; animation: spin 1500ms linear infinite; }
