#languages-block-top { margin-top: 45px; float: right; position: relative; }
#languages-block-top span.firstWord { display: none; }
#languages-block-top:hover div.current { color: #898989; }
#languages-block-top div.current { font-weight: normal; border-right: 1px solid #333333; padding: 0 15px; letter-spacing: 0.15em; line-height: 1; color: #333333; text-shadow: none; cursor: pointer; text-transform: uppercase; font-weight: 700; font-size: 13px; }
#languages-block-top div.current:after { content: "\f107"; font-family: "FontAwesome"; font-size: 14px; line-height: 1; vertical-align: middle; padding-left: 7px; }
#languages-block-top ul { display: none; background: white; position: absolute; padding: 5px 15px; top: 25px; left: 0; min-width: 157px; -webkit-box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2); box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2); z-index: 2; }
#languages-block-top ul li { color: #000000; line-height: 30px; font-size: 12px; }
#languages-block-top ul li a, #languages-block-top ul li > span { padding: 0 5px; display: inline-block; color: #959595; }
#languages-block-top ul li.selected, #languages-block-top ul li:hover a { color: #898989; }
