.pos-new-product .item-product { margin: 0 0 15px 0; }
.pos-new-product .item-product:last-child { margin: 0; }
@media (min-width: 992px) { .pos-new-product .item-product .product-contents { display: inline; padding: 0; }
  .pos-new-product .item-product .product-contents h5.product-name a, .pos-new-product .item-product .product-contents .hook-reviews { display: none; } }
