@import "compass";
@import "theme_variables";
#languages-block-top {
	margin-top:45px;
	float: right;
	position: relative;
	
	// min 992px
	@media (min-width: $screen-md) {

	}
	span.firstWord {
		display: none;
	}
	&:hover 	div.current {
		color:$hover-color;
	}
	div.current {
		font-weight: normal;
		border-right:1px solid $base-text-color;
		padding:0 15px;
		letter-spacing: 0.15em;
		line-height:1;
		color:$base-text-color;
		text-shadow:none;
		cursor: pointer;
		text-transform:uppercase;
		font-weight:700;
		font-size:13px;
		strong {
		}
		&:after {
			content: "\f107";
			font-family: $font-icon;
			font-size: 14px;
			line-height: 1;
			vertical-align:middle;
			padding-left: 7px;
		}
	}
	ul {
		display: none;
		background:$light-background;
		position: absolute;
		padding:5px 15px;
		top: 25px;
		left:0;
		min-width: 157px;
		@include pos-box-shaw;
		z-index: 2;
		li {
			color:#000000;
			line-height: 30px;
			font-size: 12px;
			a,
			> span {
				padding: 0 5px;
				display: inline-block;
				color: #959595;
			}
			&.selected, &:hover a {
				color:$hover-color;
			}
			
		}
	}
}