.header_userinfo { float: right; position: relative; margin-top: 20px; }
@media (max-width: 479px) { .header_userinfo { float: none; display: inline-block; } }
.header_userinfo .top-userinfo { display: inline-block; }
.header_userinfo .top-userinfo:hover .top-links { color: #898989; }
.header_userinfo .top-userinfo .top-links { font-weight: normal; padding: 0 12px; letter-spacing: 0.1em; border: 1px solid #e5e5e5; border-right: 0; height: 35px; line-height: 33px; letter-spacing: 1px; color: #333333; text-shadow: none; font-size: 13px; cursor: pointer; text-transform: capitalize; }
.header_userinfo .top-userinfo .top-links:before { content: "\e607"; font-family: "Pe-icon-7-stroke"; font-size: 22px; padding-right: 5px; vertical-align: -2px; }
.header_userinfo .top-userinfo ul { display: none; position: absolute; padding: 5px 0; top: 34px; left: 0; min-width: 157px; background: #fff; border: 1px solid #e5e5e5; z-index: 2; }
.header_userinfo .top-userinfo ul li { color: #333333; line-height: 30px; font-size: 14px; }
.header_userinfo .top-userinfo ul li a, .header_userinfo .top-userinfo ul li > span { padding: 0 15px; display: block; color: #333333; }
.header_userinfo .top-userinfo ul li.selected, .header_userinfo .top-userinfo ul li:hover a { color: #898989; }
