.pos-megamenu { display: inline-block; width: 100%; }

.pt_custommenu { position: relative; margin: 0 auto; text-align: center; }
.pt_custommenu .pt_menu_no_child .parentMenu a:after, .pt_custommenu .pt_menu_cms .parentMenu a:after, .pt_custommenu #pt_menu_home .parentMenu a:after { display: none; }
.pt_custommenu .pt_menu { float: left; }
.pt_custommenu .pt_menu .parentMenu a { display: block; padding: 15px 0; margin: 0 20px; line-height: 30px; color: #333333; text-transform: uppercase; letter-spacing: 0.2em; position: relative; -webkit-transition: all 300ms ease-in; -moz-transition: all 300ms ease-in; -ms-transition: all 300ms ease-in; -o-transition: all 300ms ease-in; transition: all 300ms ease-in; font-size: 14px; font-weight: 700; }
.pt_custommenu .pt_menu .parentMenu a:before { content: ""; position: absolute; bottom: -1px; left: 50%; right: 50%; height: 2px; background: #000000; -webkit-transition: all 300ms ease-in; -moz-transition: all 300ms ease-in; -ms-transition: all 300ms ease-in; -o-transition: all 300ms ease-in; transition: all 300ms ease-in; display: none; }
.pt_custommenu .pt_menu .parentMenu a:after { content: "\f107"; font-family: "FontAwesome"; font-size: 14px; line-height: 1; vertical-align: middle; padding-left: 7px; display: none; }
.pt_custommenu .pt_menu .parentMenu a span { display: inline-block; line-height: 30px; }
.pt_custommenu .pt_menu:first-child .parentMenu a { margin-left: 0; }
.pt_custommenu .pt_menu .popup { position: absolute; -webkit-box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2); box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2); background: white; text-align: left; z-index: 9; }
.pt_custommenu .pt_menu .popup .block2 { margin-top: 10px; padding: 0 30px 30px 30px; display: inline-block; width: 100%; }
@media (max-width: 1199px) { .pt_custommenu .pt_menu .popup .block2 { max-width: 767px; } }
.pt_custommenu .pt_menu .popup .block1 { overflow: hidden; float: left; padding: 30px; }
.pt_custommenu .pt_menu .popup .block1 .column { float: left; width: 200px; margin-right: 20px; margin-bottom: -99999px; padding-bottom: 99999px; }
.pt_custommenu .pt_menu .popup .block1 .column.last { margin-right: 0; }
@media (max-width: 1199px) { .pt_custommenu .pt_menu .popup .block1 .column { width: 170px; margin-right: 10px; }
  .pt_custommenu .pt_menu .popup .block1 .column.last { margin-right: 0; } }
.pt_custommenu .pt_menu .popup .block1 .column .itemMenuName { display: block; color: #363636; line-height: 30px; text-transform: capitalize; font-weight: 700; font-size: 16px; }
.pt_custommenu .pt_menu .popup .block1 .column .itemMenuName span { display: inline-block; }
.pt_custommenu .pt_menu .popup .block1 .column .itemMenuName:hover { color: #898989; }
.pt_custommenu .pt_menu .popup .block1 .column .itemMenuName:last-child { border-bottom: 0; }
.pt_custommenu .pt_menu .popup .block1 .column .itemSubMenu { margin-top: 10px; }
.pt_custommenu .pt_menu .popup .block1 .column .itemSubMenu .itemMenuName { display: block; color: #898989; text-transform: capitalize; border: 0; padding: 0; -webkit-transition: all 300ms ease-in; -moz-transition: all 300ms ease-in; -ms-transition: all 300ms ease-in; -o-transition: all 300ms ease-in; transition: all 300ms ease-in; font-weight: normal; font-size: 14px; }
.pt_custommenu .pt_menu .popup .block1 .column .itemSubMenu .itemMenuName span { border: 0; }
.pt_custommenu .pt_menu .popup .block1 .column .itemSubMenu .itemMenuName:hover { color: #898989; padding-left: 10px; -webkit-transition: all 300ms ease-in; -moz-transition: all 300ms ease-in; -ms-transition: all 300ms ease-in; -o-transition: all 300ms ease-in; transition: all 300ms ease-in; }
.pt_custommenu .pt_menu .popup .block1 .blockright { width: 200px; margin-right: 0; }
.pt_custommenu .pt_menu.act .parentMenu a, .pt_custommenu .pt_menu.active .parentMenu a { color: #898989; -webkit-transition: all 300ms ease-in; -moz-transition: all 300ms ease-in; -ms-transition: all 300ms ease-in; -o-transition: all 300ms ease-in; transition: all 300ms ease-in; }
.pt_custommenu .pt_menu.act .parentMenu a:before, .pt_custommenu .pt_menu.active .parentMenu a:before { left: 0; right: 0; -webkit-transition: all 300ms ease-in; -moz-transition: all 300ms ease-in; -ms-transition: all 300ms ease-in; -o-transition: all 300ms ease-in; transition: all 300ms ease-in; }
.pt_custommenu .pt_menu.act .parentMenu a i, .pt_custommenu .pt_menu.active .parentMenu a i { color: #898989; }

.nav-collapse { text-align: left; }

.navbar .nav > li { padding: 10px 30px 20px 0; }

#ma-mobilemenu { height: auto; display: none; padding: 3px 0 0 0; border-top: 0; float: left; width: 100%; margin-bottom: 10px; }

.posmegamenu { position: relative; line-height: 0; }

.navbar-inner { background: #898989; border: 0; border-radius: 0; min-height: 50px; text-align: left; }

.navbar { margin: 15px 0; z-index: 9; }
.navbar .btn-navbar { position: absolute; right: 15px; top: 8px; margin: 0; padding: 0; border-radius: 3px; text-align: center; overflow: hidden; }
.navbar .btn-navbar:before { content: "\f03a "; font-family: "FontAwesome"; font-size: 24px; color: #fff; margin: 0; padding: 0; }
.navbar .btn-navbar .icon-bar { display: none; }

.mobilemenu > li.last a { border-bottom: 0; }

.navbar .brand { color: #fff; text-transform: uppercase; font-size: 18px; font-weight: normal; line-height: 50px; display: inline-block; padding-left: 20px; font-family: "helvetica"; }

.mobilemenu { list-style-type: none; padding: 0; margin: 0; float: left; display: block; width: 100%; }
.mobilemenu li { background: #faf8f8; cursor: pointer; list-style-type: none; padding: 0; margin: 0; display: block; width: 100%; position: relative; }
.mobilemenu li a { text-decoration: none; border-bottom: 1px solid #e0d8d8; line-height: 40px; font-weight: normal; color: #111; margin: 0 15px; display: block; cursor: pointer; font-size: 14px; text-transform: capitalize; }
.mobilemenu li.active a, .mobilemenu li a:hover { color: #898989; }
.mobilemenu li ul { padding: 0 15px; }
.mobilemenu li ul ul { padding: 0 15px; }

/*----------- button mobilemenu -------------*/
.mobilemenu span.head { position: absolute; top: 15px; right: 10px; }
.mobilemenu span.head a { display: block; height: 15px; padding: 0; width: 15px; border: 0; }

.mobilemenu .OPEN a:before { content: "\f068 "; font-family: "FontAwesome"; line-height: 34px; font-size: 14px; position: absolute; top: -8px; right: 17px; }

.mobilemenu .CLOSE a:before { content: "\f067 "; font-family: "FontAwesome"; line-height: 34px; font-size: 14px; position: absolute; top: -8px; right: 17px; }
