@import "compass";
@import "theme_variables";
$col-width: 200px;
$title-height: 40px;
.pos-megamenu {
	display:inline-block;
	width:100%;
}
.pt_custommenu{
    position: relative;
    margin: 0 auto;
	text-align:center;
	.pt_menu_no_child,.pt_menu_cms,#pt_menu_home {
		.parentMenu a{	
			&:after {
				display:none;
			}
			
		}
	}
	.pt_menu{
		float:left;
		.parentMenu a{
			display: block;
			padding:15px 0;
			margin:0 20px;
			line-height:30px;
			color:$base-text-color;
			text-transform: uppercase;
			letter-spacing: 0.2em;
			position:relative;
			@include pos-transition(300ms);
			font:{
				size: 14px;
				weight: 700;
			}
			&:before {
				content: "";
				position:absolute;
				bottom:-1px;
				left:50%;
				right:50%;
				height:2px;
				background:#000000;
				@include pos-transition(300ms);
				display:none;
			}
			&:after {
				content: "\f107";
				font-family: $font-icon;
				font-size: 14px;
				line-height: 1;
				vertical-align:middle;
				padding-left: 7px;
				display:none;
			}
			
			span {
				display:inline-block;
				line-height:30px;
				
				
			}
			
		}
		&:first-child .parentMenu a{
			margin-left:0;
		}
		.popup{
			position: absolute;
			@include pos-box-shaw;
			background:$light-background;
			text-align: left;
			z-index:9;
			.block2 {
				margin-top:10px;
				padding:0 30px 30px 30px;
				display:inline-block;
				width:100%;
				@media (max-width: $screen-md-max) { 
					max-width:767px;
				}
			}
			.block1{
				overflow: hidden;
				float: left;
				padding:30px;
				.column{
					float: left;
					width: $col-width;
					margin-right: 20px;
					margin-bottom: -99999px;
					padding-bottom: 99999px;
					&.last {
						margin-right:0;
					}
					@media (max-width: $screen-md-max) { 
						width:170px;
						margin-right: 10px;
						&.last {
							margin-right:0;
						}
					}
					.itemMenuName{
						display:block;
						color: #363636;
						line-height: 30px;
						text-transform: capitalize;
						font:{
							weight: 700;
							size: 16px;
						}
						span {
							display:inline-block;
						}
						&:hover{
							color:$hover-color;
						}
						&:last-child {
							border-bottom:0;
						}
					}
					.itemSubMenu{
						margin-top:10px;
						.itemMenuName{
							display:block;
							color: #898989;
							text-transform: capitalize;
							border:0;
							padding:0;
							@include pos-transition(300ms);
							font:{
								weight: normal;
								size: 14px;
								
							}
							span {
								border:0;
							}
							&:hover{
								color:$hover-color;
								padding-left:10px;
								@include pos-transition(300ms);
							}
						}                                                                                    
						
					}
				}
			
				.blockright {
					width:$col-width;
					
					margin-right:0;
				}
			}
		}
		&.act, &.active{
			.parentMenu a{
				color:$hover-color;
				@include pos-transition(300ms);
				&:before {
					left:0;
					right:0;
					@include pos-transition(300ms);
				}
				i{
					color:$hover-color;
				}
			}		
		}
	}
}

//mobilemenu
.nav-collapse {
    text-align: left;
}
.navbar .nav > li {
    padding: 10px 30px 20px 0;
}
#ma-mobilemenu {
    height: auto;
    display: none;
	padding: 3px 0 0 0;
	border-top:0;
	 float:left;
	 width:100%;
	 margin-bottom:10px;
}
.posmegamenu {
	position:relative;
	line-height:0;
}

.navbar-inner {
	background:$main-background;
    border: 0;
    border-radius: 0;
	min-height:50px;
	text-align: left;
}
.navbar {
	margin:15px 0;
	z-index:9;
	.btn-navbar {
		position: absolute;
		right: 15px;
		top: 8px;
		margin:0;
		padding:0;
		border-radius: 3px;
		text-align:center;
		overflow:hidden;
		&:before {
		content: "\f03a ";
		font-family: "FontAwesome";
		font-size: 24px;
		color: #fff;
		margin:0;
		padding:0;
		}
		.icon-bar {
			display:none;
		}
	}
}
.mobilemenu>li.last a {
    border-bottom: 0;
}
.navbar .brand {
    color: #fff;
	text-transform:uppercase;
    font-size: 18px;
    font-weight: normal;
	line-height:50px;
	display:inline-block;
	padding-left:20px;
	font-family: "helvetica";
}
.mobilemenu {
	list-style-type: none;
	padding: 0;
    margin: 0;
	float: left;
	display: block;
	width: 100%;
	li {
		background: #faf8f8;
		cursor: pointer;
		list-style-type: none;
		padding: 0;
		margin: 0;
		display: block;
		width: 100%;
		position: relative;
		a {
			text-decoration: none;
			border-bottom: 1px solid #e0d8d8;
			line-height: 40px;
			font-weight: normal;
			color: #111;
			margin: 0 15px;
			display: block;
			cursor: pointer;
			font-size: 14px;
			text-transform: capitalize;
		
		}
		&.active a,& a:hover {
			color: $hover-color;
		}
		ul  {
			padding:0 15px;
			ul {
				padding:0 15px;
			}
		}		
	}

}
	

/*----------- button mobilemenu -------------*/
.mobilemenu span.head {
	position: absolute;
	top: 15px;
	right: 10px;
	a {
		display:block;
		height:15px;
		padding:0;
		width:15px;
		border: 0;
	}
}
.mobilemenu .OPEN a:before {
content: "\f068 ";
font-family: "FontAwesome";
line-height: 34px;
font-size: 14px;
position: absolute;
top: -8px;
right: 17px;
}
.mobilemenu .CLOSE a:before {
content: "\f067 ";
font-family: "FontAwesome";
line-height: 34px;
font-size: 14px;
position: absolute;
top: -8px;
right:17px;
}

