@import "compass";
@import "theme_variables";

/* Block newsletter */
/* Block newsletter */
#columns #newsletter_block_left {
	.form-group {
		margin-bottom: 0;
		.form-control {
			max-width: 222px;
			display: inline-block;
			margin-right: 6px;
			@media (min-width: $screen-sm) and (max-width: $screen-md-max) { // min 768px max 1199px
				margin-bottom: 10px;
				margin-right: 0;
			}
		}
	}
	.success_inline, .warning_inline {
		text-align: left;
		padding: 1px 0 0 0;
		margin-bottom: -19px;
	}
	.success_inline	{
		color: #418B19;
	}
	.warning_inline {
		color: #f13340;
	}
}
/* Block newsletter footer */
#footer {
	#newsletter_block_left {
		overflow: hidden;
		margin:0 0 20px 0;
		@media (max-width: $screen-xs-max) { // max 767px
			margin: 10px 0 ;
		}
		h4 {
			color:#333333;
			margin: 0 0 10px 0;
			line-height:40px;
			text-transform:uppercase;
			display:block;
			font: {
				size:16px;
			}
			@media (max-width: $screen-xs-max) { // max 767px
				margin:0 ;
			}
			
		}
		p {
			color:#333333;
			margin:20px 0;
		}
		
		.block_content {
			overflow: hidden;
		}
		.form-group {
			margin-bottom: 0;
			position:relative;
			&:before {
				content: "\f003";
				font-family:$font-icon;
				display:inline-block;
				position:absolute;
				top:10px;
				left:10px;
				color:#333333;
				z-index:1;
			}
			.form-control {
				position:relative;
				height: 40px;
				max-width:290px;
				border:0;
				background:$light-background;
				color:#333333;
				padding: 10px 10px 10px 40px;
				margin-bottom:10px;
				display: inline-block;
				&:focus {
					@include box-shadow(black 0px 0px 0px);
				}
				
				
			}
			.button-small {
				background:$main-background;
				text-align: center;
				border:0;
				height:40px;
				color: #f4f4f4;
				display:inline-block;
				font-size:13px;
				vertical-align:top;
				line-height:40px;
				padding:0 15px;
				margin:0 5px;
				&:hover {
					background:#333333;
				}
				span{
					font-weight:400;
				}
			}
		}
		.warning_inline {
			display: block;
			color: #f13340;
			font-size: 13px;
			line-height :26px;
			clear: both;
			@media (min-width: $screen-lg) { // min 1200px
				display: inline-block;
				position: relative;
				top: -35px;
				margin-bottom: -35px;
				left: 15px;
				clear: none;
			}
		}
	
	}
}