@import "compass";
@import "theme_variables";
.pos-bestsellers {
	display: inline-block;
	width: 100%;
	margin-bottom:50px;
	
	.item-product {
		overflow:hidden;
		&:hover .product-contents{
			@include pos-transition(300ms);
			bottom:0;
			opacity:1;
		}
		.product-contents {
			opacity:0;
			position:absolute;
			bottom:-100px;
			left:0;
			right:0;
			background-color: rgba(255, 255, 255, 0.7);	
			@include pos-transition(300ms);			
		}
	}
	.item-inner {
		position:relative;
		display: inline-block;
		width: 100%;
		margin-bottom:30px;
		cursor:pointer;
	}

}

