@import "compass";
@import "theme_variables";
#categories_block_top {
  clear: both;
  position: relative;
  top: 30px;
  .sf-menu {
    position: relative;
    > li {
      position: static;
      > ul {
        width: 100%;
        top: 60px;
        margin: 0 20px;
        > li {
          display: block;
          float: left;
          width: 20%;
          -webkit-box-sizing: border-box;
          -moz-box-sizing: border-box;
          box-sizing: border-box;
          padding: 0 10px;
        }
        > .category_thumb {
          display: block;
          clear: both;
          overflow: hidden;
          width: 100%;
          img {
            display: inline-block;
            width: 33%;
          }
        }
      }
      h4 {
        a {
          font-size: 1.1em;
          &:before {
            display: none;
          }
        }
      }
      .main-level-submenus {
        position: relative;
        display: block !important;
        visibility: visible !important;
        top: 0;
        background: none;
        box-shadow: none;
        padding: 0;
        left: 0;
      }
    }
    .category_thumb {
      display: none;
    }
  }
}

#categories_block_left {
	.title_block {
		margin:0;
	}


  li {
    position: relative;
    a {
      font-weight: normal;
      color:#7d7d7d;
      display: block;
      font-size: 14px;
	  text-transform:capitalize;
      line-height: 40px;
      padding: 0 30px 0 0;
 
    }
    span.grower {
      display: block;
      position: absolute;
      right: 0;
      top: 0;
      cursor: pointer;
      font-family: $font-icon;
      font-size: 14px;
      &.OPEN,
      &.CLOSE {
        &:before {
          content: "\f068";
          display: block;
          vertical-align: middle;
          width: 30px;
          height: 45px;
          color: $base-text-color;
          line-height: 45px;
          text-align: center;
        }
      }
      &.CLOSE:before {
        content: "\f067";
        color: silver;
      }
    }
    & span.grower:hover + a,
    a:hover,
    a.selected {
      color:$hover-color;
    }
    li {
      a {
        font-weight: normal;
        color: #7d7d7d;
		text-transform:capitalize;
        &:before {
          content: "\f105";
          font-family: $font-icon;
          line-height: 29px;
          padding-right: 8px;
        }
      }
    }
  }
}