.star { float: right; }

.back-top a { right: auto; left: 20px; }

@media (max-width: 480px) { #header .cart_block { left: -80px; } }

.header_userinfo { float: left; }
@media (max-width: 479px) { .header_userinfo { float: none; display: inline-block; } }
.header_userinfo .top-userinfo .top-links { border: 1px solid #e5e5e5; border-left: 0; }
.header_userinfo .top-userinfo .top-links:before { float: right; padding: 0 0 0 5px; }
.header_userinfo .top-userinfo ul { right: 0; left: auto; }

#languages-block-top { float: left; }
#languages-block-top div.current { border: 0; border-left: 1px solid #333333; }
#languages-block-top div.current:after { float: left; padding: 0 7px 0 0; }
#languages-block-top ul { right: 1px; left: auto; }

#currencies-block-top { float: left; }
#currencies-block-top div.current:after { padding: 0 7px 0 0; float: left; }
#currencies-block-top ul { right: 0; left: auto; }

#search_block_top .toogle_content { left: 0; right: auto; }
#search_block_top .btn.button-search { left: 0; right: auto; }
#search_block_top #search_query_top { padding: 10px 10px 10px 50px; }

@media (max-width: 991px) { #search_block_top { margin-top: 20px; position: static; float: none; padding-bottom: 0; }
  #search_block_top .icon-search { display: none; }
  #search_block_top .toogle_content { display: block; border-radius: 0; border: 0; padding: 0; position: static; min-width: auto; background: transparent; }
  #search_block_top #search_query_top { max-width: 100%; } }
.pt_custommenu .pt_menu { float: right; }
.pt_custommenu .pt_menu .parentMenu a span:before { left: 10px; right: auto; }
.pt_custommenu .pt_menu:first-child .parentMenu a { margin: 0 20px; margin-right: 0; }
.pt_custommenu .pt_menu:last-child .parentMenu a:before { display: none; }
.pt_custommenu .pt_menu .popup { text-align: right; }
.pt_custommenu .pt_menu .popup .block1 { overflow: hidden; float: right; }
.pt_custommenu .pt_menu .popup .block1 .column { float: right; margin-left: 20px; margin-right: 0; }
.pt_custommenu .pt_menu .popup .block1 .column.last { margin-left: 0; }
@media (max-width: 1199px) { .pt_custommenu .pt_menu .popup .block1 .column { margin-left: 10px; }
  .pt_custommenu .pt_menu .popup .block1 .column.last { margin-left: 0; } }
.pt_custommenu .pt_menu .popup .block1 .column .itemSubMenu .itemMenuName:hover { padding: 0; padding-right: 10px; }

.navleft-container .pt_vmegamenu_title h2:before { float: right; margin-left: 10px; }
.navleft-container .pt_vmegamenu .pt_menu { position: relative; }
.navleft-container .pt_vmegamenu .pt_menu:not(.noSub):after { left: 15px; right: auto; content: "\f104"; }
.navleft-container .pt_vmegamenu .pt_menu .wrap-popup { left: auto; right: 100%; }
.navleft-container .pt_vmegamenu .pt_menu .wrap-popup .popup { left: auto !important; right: 0 !important; }
.navleft-container .pt_vmegamenu .pt_menu .wrap-popup .popup .box-popup { float: right; }
.navleft-container .pt_vmegamenu .pt_menu .wrap-popup .popup .box-popup .column .itemSubMenu .itemMenuName:before { content: "\f100"; float: right; padding: 0 0 0 7px; }

.nav-collapse { text-align: right; }

.navbar-inner { text-align: right; }

.navbar .btn-navbar { position: absolute; right: auto; left: 15px; }

.navbar .brand { padding: 0 20px 0 0; }

.mobilemenu span.head { position: absolute; left: 10px; right: auto; }

/* title */
.pos-title h2:before { left: -20px; right: auto; -moz-transform: skewX(20deg); -webkit-transform: skewX(20deg); -o-transform: skewX(20deg); -ms-transform: skewX(20deg); transform: skewX(20deg); }

/* title */
.boxprevnext a.prev { left: 15px; right: auto; }
.boxprevnext a.next { left: 45px; right: auto; }

/* style product */
.new-box, .sale-box, .products-inner .price-percent-reduction { left: 0; right: auto; }
.new-box:before, .sale-box:before, .products-inner .price-percent-reduction:before { right: auto; left: 0; border: 30px solid #959595; border-bottom: 30px solid transparent; border-right: 30px solid transparent; }

.new-label, .sale-label, .products-inner .price-percent-reduction span { left: 5px; right: auto; -moz-transform: rotate(-45deg); -webkit-transform: rotate(-45deg); -o-transform: rotate(-45deg); -ms-transform: rotate(-45deg); transform: rotate(-45deg); }

.price-box { direction: rtl; right: 20px; left: auto; }

.tab-category-container-slider .pos_tab .pos-title { float: right; }
.tab-category-container-slider .tab_cates { float: left; }
.tab-category-container-slider .tab_cates li { border: 0; border-right: 1px solid #000000; }
.tab-category-container-slider .tab_cates li:first-child { border-right: 0; }
.tab-category-container-slider .tab_cates li:last-child { padding-left: 0; padding-right: 20px; }
.tab-category-container-slider .loadmore span:before { float: right; margin: 0 0 0 10px; }

/* style product */
/* static block */
.banner-box .banner-content a span:after { left: -10px; right: 0; }

/* static block */
.ac_results { text-align: right; }

.date-smart { float: right; margin: 0 0 0 20px; }

@media (max-width: 1199px) { .sds_blog_post .blog_content { padding: 20px; padding-top: 0; }
  .date-smart { font-size: 16px; padding: 10px; margin: 0 0 0 15px; } }
@media (max-width: 991px) { .sds_blog_post .blog_content { position: static; padding: 0; padding-top: 20px; }
  .date-smart { position: absolute; right: 10px; left: auto; } }
#testimonials_block .owl-pagination { margin: 0 305px 0 0; }

.item-testimonials .item .box-test { float: right; }
.item-testimonials .img { float: right; margin: 0 0 0 30px; }

.footer-container #footer .footer-contact .block_content:before { right: 0; left: auto; }
.footer-container #footer .footer-contact .add label { float: right; padding-left: 10px; }
@media (max-width: 767px) { .footer-container #footer h4:after { right: auto; left: 0; } }
.footer-container #footer ul.toggle-footer li:hover { padding-left: 0; padding-right: 10px; }
.footer-container #footer #social_block { float: right; }
@media (max-width: 767px) { .footer-container #footer #social_block { width: 100%; float: right; } }
.footer-container #footer .payment { text-align: left; }
@media (max-width: 767px) { .footer-container #footer .payment { text-align: right; } }

#footer #newsletter_block_left .form-group:before { right: 10px; left: auto; }
#footer #newsletter_block_left .form-group .form-control { padding: 10px 40px 10px 10px; }

ul.product_list.list > li .right-block .product-contents { text-align: right; }

.compare-form { float: left; }

.box-cart-bottom .cart-product, .box-info-product p { float: right; }

#usefull_link_block { float: right; }

#quantity_wanted_p, .box-info-product p { float: right; margin-right: 0; margin-left: 15px; }

.pb-center-column #buy_block label { float: right; margin: 0 0 0 10px; }

#usefull_link_block li a, #wishlist_button, #wishlist_button_nopop { padding: 0 30px 0 0; }
#usefull_link_block li a:before, #wishlist_button:before, #wishlist_button_nopop:before { right: 0; left: auto; }

.more-info > ul li { border: 0; border-left: 1px solid #e5e5e5; }

@media (max-width: 767px) { .block .title_block:after, .block h4:after { right: auto; left: 0; } }

@media (max-width: 991px) { #header .shopping_cart { display: inline-block; text-align: right; }
  #currencies-block-top, #languages-block-top, .header_userinfo { text-align: right; }
  #search_block_top #searchbox { float: none; }
  #layer_cart { text-align: right; } }
@media (max-width: 479px) { .content_sortPagiBar .sortPagiBar #productsSortForm { margin: 0; }
  .content_sortPagiBar .sortPagiBar .nbrItemPage { margin-top: 20px; } }
