/**************************************************************************
					Contact Page Styles
**************************************************************************/
.contact-title { margin: -5px 0 0px 0; line-height: 23px; }
.contact-title i { font-size: 23px; color: #c0c0c0; padding: 0 8px 0 0; }
.mc2-form-group{
	display: flex;
	flex-wrap: wrap;
}
.mc2-form-group .form-control{
	max-width: 100%!important;
    padding: 25px 15px 23px 15px;
    background-color: #f5f5f5;
}
.contact-form-box .form-control{
	background-color: #f5f5f5;
}
.contact-form-box { padding: 23px 0 0 0; margin: 0 0 30px 0; /*background: url(../img/contact-form.png) repeat-x white;*/ -webkit-box-shadow: rgba(0, 0, 0, 0.17) 0px 5px 13px; -moz-box-shadow: rgba(0, 0, 0, 0.17) 0px 5px 13px; box-shadow: rgba(0, 0, 0, 0.17) 0px 5px 13px; }
.contact-form-box fieldset { padding: 0 19px 21px 19px; background: url(../img/form-contact-shadow.png) center bottom no-repeat; background-size: contain; }
.contact-form-box label { margin: 0 0 6px 0; }
.contact-form-box .page-subheading { padding-left: 0px; border: none; margin-bottom: 0; }
.contact-form-box .col-md-3 { padding-left: 0; }
@media (max-width: 991px) { .contact-form-box .col-md-3 { padding-right: 0; } }
.contact-form-box .col-md-9 { padding-right: 0; }
@media (max-width: 991px) { .contact-form-box .col-md-9 { padding-left: 0; } }
.contact-form-box #desc_contact0 { display: none; }
.contact-form-box .form-group { margin-bottom: 7px; }
.contact-form-box textarea { height: 257px; }
.contact-form-box .submit { margin-top: 13px; }
.contact-form-box select.form-control { max-width: 270px; width: 100%; }
.contact-form-box input.form-control { max-width: 270px; }
@media (min-width: 992px) and (max-width: 1199px) { .contact-form-box div.uploader span.filename { width: 114px; } }
.contact-form-box{
	-webkit-box-shadow: none;
	box-shadow: none;	
}
.contact-form-box fieldset{
	padding-left: 0;
	padding-right: 0;
}