/* product desc */
/* primary_block ***************************************************************************** */
.primary_block { margin-bottom: 40px; }

.product-heading-h5 { color: #999999; font-weight: 200; margin: 3px 0 8px; font-size: 19px; font-family: "Open Sans", sans-serif; }

.box-security .product-heading-h5 { margin: 3px 0 -8px; }
@media (max-width: 1199px) { .box-security .product-heading-h5 { margin-bottom: 8px; } }

.box-security img { width: auto; }

.primary_block .pb-left-column img { max-width: 100%; height: auto; }

a.fancybox-nav { outline: 0; }

/* .pb-left-column ***************************************************************************** */
.pb-left-column { text-align: center; }
.pb-left-column #image-block { position: relative; display: block; cursor: pointer; background: white; border: 1px solid #e5e5e5; }
@media (max-width: 767px) { .pb-left-column #image-block { width: 280px; margin: 0 auto; } }
.pb-left-column #image-block img { background: #fbfbfb; width: 100%; }
.pb-left-column #image-block #view_full_size .span_link { position: absolute; bottom: 20px; left: 50%; margin-left: -68px; display: block; padding: 10px 0; text-align: center; line-height: 22px; color: #777676; width: 136px; text-align: center; font-weight: 700; background: white; -webkit-box-shadow: 0 2px 8px rgba(0, 0, 0, 0.16); -moz-box-shadow: 0 2px 8px rgba(0, 0, 0, 0.16); box-shadow: 0 2px 8px rgba(0, 0, 0, 0.16); }
.pb-left-column #image-block #view_full_size .span_link:after { font-family: "FontAwesome"; color: #c0c0c0; font-size: 20px; line-height: 22px; content: "\f00e"; font-weight: normal; margin: 0 0 0 4px; }
.pb-left-column #image-block #view_full_size .span_link:hover:after { color: #333333; }
.pb-left-column #image-block a.jqzoom div div img { width: auto; max-width: 10000px; }
.pb-left-column #image-block a.jqzoom div div .zoomWrapper { border: none; }
.pb-left-column #image-block .zoomPad { z-index: auto!important; }
.pb-left-column #image-block .new-box, .pb-left-column #image-block .sale-box { z-index: 5002; }
@media (min-width: 1200px) { .pb-left-column #image-block:hover #view_full_size .span_link { opacity: 1; -webkit-transition: all 300ms ease-in; -moz-transition: all 300ms ease-in; -ms-transition: all 300ms ease-in; -o-transition: all 300ms ease-in; transition: all 300ms ease-in; -moz-transform: scale(1); -webkit-transform: scale(1); -o-transform: scale(1); -ms-transform: scale(1); transform: scale(1); }
  .pb-left-column #image-block #view_full_size .span_link { opacity: 0; bottom: 50%; margin-bottom: -21px; -webkit-transition: all 300ms ease-in; -moz-transition: all 300ms ease-in; -ms-transition: all 300ms ease-in; -o-transition: all 300ms ease-in; transition: all 300ms ease-in; -moz-transform: scale(0); -webkit-transform: scale(0); -o-transform: scale(0); -ms-transform: scale(0); transform: scale(0); } }

/* miniatures */
.pb-left-column #views_block { margin: 0 auto; display: flex; justify-content: center; margin-top: 10px; }
@media (max-width: 767px) { .pb-left-column #views_block { width: 100%; margin: 10px 0 0 0; } }
@media (min-width: 1200px) { .pb-left-column #views_block { position: absolute; bottom: 35px; left: 50%; margin-left: -180px; z-index: 1; } }

#thumbs_list { overflow: hidden; float: left; width: 70%!important; }
@media (min-width: 992px) and (max-width: 1199px) { #thumbs_list { width: 196px; } }
@media (min-width: 768px) and (max-width: 991px) { #thumbs_list { width: 164px; } }
@media (max-width: 767px) { #thumbs_list { width: 196px; } }
#thumbs_list ul#thumbs_list_frame { list-style-type: none; padding-left: 0; overflow: hidden; }
#thumbs_list li { float: left; width: 90px; cursor: pointer; margin-right: 8px; line-height: 0; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
@media (min-width: 768px) and (max-width: 991px) { #thumbs_list li { width: 76px; margin-right: 6px; } }
#thumbs_list li a { display: block; border: 1px solid #dbdbdb; -webkit-transition: all 0.3s ease; -moz-transition: all 0.3s ease; -o-transition: all 0.3s ease; transition: all 0.3s ease; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; background: #fbfbfb; }
#thumbs_list li a.shown { border-color: #898989; }
#thumbs_list li img { border: 1px solid transparent; width: 100%; height: 100%; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }

.show-right-column.hide-left-column #thumbs_list, .hide-right-column.show-left-column #thumbs_list { width: 294px; }
@media (min-width: 992px) and (max-width: 1199px) { .show-right-column.hide-left-column #thumbs_list, .hide-right-column.show-left-column #thumbs_list { width: 194px; } }
@media (min-width: 768px) and (max-width: 991px) { .show-right-column.hide-left-column #thumbs_list, .hide-right-column.show-left-column #thumbs_list { width: 164px; } }
@media (max-width: 767px) { .show-right-column.hide-left-column #thumbs_list, .hide-right-column.show-left-column #thumbs_list { width: 196px; } }

span.view_scroll_spacer { float: left; width: 39px; padding-left: 12px; }
@media (min-width: 992px) and (max-width: 1199px) { span.view_scroll_spacer { width: 45px; padding-left: 18px; } }
@media (min-width: 768px) and (max-width: 991px) { span.view_scroll_spacer { width: 30px; padding-left: 3px; } }
@media (max-width: 767px) { span.view_scroll_spacer { width: 45px; padding-left: 18px; } }

.show-right-column.hide-left-column span.view_scroll_spacer, .hide-right-column.show-left-column span.view_scroll_spacer { width: 27px; padding-left: 2px; }
@media (min-width: 992px) and (max-width: 1199px) { .show-right-column.hide-left-column span.view_scroll_spacer, .hide-right-column.show-left-column span.view_scroll_spacer { width: 44px; padding-left: 16px; } }
@media (min-width: 768px) and (max-width: 991px) { .show-right-column.hide-left-column span.view_scroll_spacer, .hide-right-column.show-left-column span.view_scroll_spacer { width: 41px; padding-left: 13px; } }
@media (max-width: 767px) { .show-right-column.hide-left-column span.view_scroll_spacer, .hide-right-column.show-left-column span.view_scroll_spacer { width: 45px; padding-left: 14px; } }

#view_scroll_left, #view_scroll_right { margin-top: 48px; height: 20px; width: 20px; text-align: center; border: 1px solid silver; border-radius: 100%; line-height: 0; font-size: 0; overflow: hidden; }
@media (min-width: 768px) and (max-width: 991px) { #view_scroll_left, #view_scroll_right { margin-top: 38px; } }
#view_scroll_left:before, #view_scroll_right:before { color: silver; font-family: "FontAwesome"; font-size: 13px; line-height: 17px; }
#view_scroll_left:hover:before, #view_scroll_right:hover:before { color: #333333; }

#view_scroll_right { float: left; }
#view_scroll_right:before { content: "\f105"; }

#view_scroll_left { margin-top: 0; }
#view_scroll_left:before { content: "\f104"; padding-right: 2px; }

.resetimg #resetImages i { margin-right: 6px; }

.view_scroll_spacer { margin-top: 48px; }
@media (min-width: 768px) and (max-width: 991px) { .view_scroll_spacer { margin-top: 38px; } }

/* link list */
#usefull_link_block { list-style-type: none; clear: both; margin: 0; }
#usefull_link_block li { margin: 0 0 8px 0; }
@media (min-width: 768px) and (max-width: 991px) { #usefull_link_block li { float: none !important; } }
#usefull_link_block li:first-child { margin: 0 0 8px 0; border: none; padding: 0; }
#usefull_link_block li a { color: #868686; font-weight: normal; position: relative; padding-left: 25px; line-height: 22px; display: inline-block; font-size: 15px; }
#usefull_link_block li a:before { font-family: "FontAwesome"; font-size: 14px; line-height: 24px; position: absolute; top: -2px; left: 0; font-weight: normal; }
#usefull_link_block li a:hover { color: #898989; }
@media (min-width: 768px) and (max-width: 991px) { #usefull_link_block li.print { margin: 8px 0 0; padding: 0; border: none; } }
#usefull_link_block li.print a:before { content: "\f02f"; }
#usefull_link_block li.sendtofriend a:before { content: "\f003"; }
#usefull_link_block li#left_share_fb { clear: both; float: none; }
#usefull_link_block li#left_share_fb a { padding-left: 18px; }
#usefull_link_block li#left_share_fb a:before { content: "\f09a"; }
#usefull_link_block li#favoriteproducts_block_extra_remove, #usefull_link_block li#favoriteproducts_block_extra_add, #usefull_link_block li#favoriteproducts_block_extra_removed, #usefull_link_block li#favoriteproducts_block_extra_added { cursor: pointer; font-weight: 700; clear: both; float: none; margin: 0 0 8px 0; border: none; padding: 0; position: relative; }
#usefull_link_block li#favoriteproducts_block_extra_remove:before, #usefull_link_block li#favoriteproducts_block_extra_add:before, #usefull_link_block li#favoriteproducts_block_extra_removed:before, #usefull_link_block li#favoriteproducts_block_extra_added:before { font-family: "FontAwesome"; color: #333333; font-size: 19px; line-height: 24px; position: absolute; top: -2px; left: 0; font-weight: normal; content: "\f08a"; }
#usefull_link_block li#favoriteproducts_block_extra_remove:hover, #usefull_link_block li#favoriteproducts_block_extra_add:hover, #usefull_link_block li#favoriteproducts_block_extra_removed:hover, #usefull_link_block li#favoriteproducts_block_extra_added:hover { color: #000; }
#usefull_link_block li#favoriteproducts_block_extra_removed:before { content: "\f004"; }

/* pb-left-column ****************************************************************************** */
.pb-center-column { margin-bottom: 30px; /* form */ }
.pb-center-column h1 { color: #010101; text-transform: uppercase; font-size: 24px; line-height: 35px; margin: 15px 0; font-weight: 700; letter-spacing: 0.1em; }
@media (max-width: 991px) { .pb-center-column h1 { font-size: 18px; } }
.pb-center-column label { color: #868686; font-size: 15px; font-weight: normal; font-style: italic; }
.pb-center-column p { margin-bottom: 10px; font-size: 15px; }
.pb-center-column #product_reference { margin-bottom: 6px; }
.pb-center-column #short_description_block { color: #666666; }
.pb-center-column #short_description_block .buttons_bottom_block { display: none; }
.pb-center-column #short_description_block #short_description_content { border-bottom: 1px solid #e5e5e5; padding-bottom: 30px; margin-bottom: 15px; word-wrap: break-word; }
.pb-center-column #short_description_block #short_description_content p { line-height: 27px; font-size: 16px; color: #868686; margin: 0; }
.pb-center-column #buy_block label { display: inline-block; float: left; font-weight: normal; font-size: 15px; margin-right: 10px; line-height: 35px; }
.pb-center-column #buy_block p.price { padding: 0; }
.pb-center-column #color_picker p { padding-bottom: 5px; font-weight: 700; }

#product p#loyalty { padding: 17px 0 15px 35px; border-top: 1px solid #e5e5e5; border-bottom: 1px solid #e5e5e5; margin: 10px 0 -5px; position: relative; }
#product p#loyalty b { color: #333333; }
#product p#loyalty:before { content: "\f024"; font-family: "FontAwesome"; color: #cfcccc; font-size: 26px; line-height: 28px; position: absolute; top: 16px; left: 0; }

#page .rte { padding: 0 0 20px 0; word-wrap: break-word; }
#page .rte p { margin-bottom: 1em; min-height: 1px; line-height: 27px; color: #868686; font-size: 15px; }

#attributes fieldset { padding-bottom: 3px; }
#attributes fieldset label { vertical-align: top; display: block; }
#attributes .attribute_list { width: 100%; }
#attributes .attribute_list .form-control { max-width: 230px; }
#attributes .attribute_list .form-control option { background: white; color: #666666; }
#attributes .attribute_list ul { clear: both; }
#attributes .attribute_list ul li { float: left; margin-right: 10px; }
#attributes .attribute_list input.attribute_radio { float: left; margin-left: 3px; }
#attributes .attribute_list div.radio, #attributes .attribute_list div.radio span, #attributes .attribute_list div.radio input { float: none; display: inline-block; }
#attributes .attribute_list #color_to_pick_list { list-style-type: none; }
#attributes .attribute_list #color_to_pick_list li { float: left; margin: 0 3px 3px 0; padding: 1px; border: 1px solid #e5e5e5; clear: none; width: 26px; height: 26px; }
#attributes .attribute_list #color_to_pick_list li a.color_pick { display: block; height: 22px; width: 22px; cursor: pointer; }
#attributes .attribute_list #color_to_pick_list li a.color_pick img { display: block; height: 22px; width: 22px; }
#attributes .attribute_list #color_to_pick_list li.selected { border: 1px solid #4d4d4d; }

.box-cart-bottom { padding: 0; border-bottom: 1px solid #e5e5e5; padding-bottom: 15px; margin-bottom: 15px; display: inline-block; width: 100%; }

.cart-product .buttons_bottom_block { float: left; margin-bottom: 15px; clear: none; }

#short_description_content a, .page-product-box .rte a { color: #868686; text-decoration: underline; }
#short_description_content a.btn, .page-product-box .rte a.btn { text-decoration: none; }

.box-info-product p { margin-bottom: 15px; float: left; margin-right: 15px; }
@media (max-width: 320px) { .box-info-product p { margin-right: 0; } }
.box-info-product .exclusive { position: relative; -webkit-transition: all 300ms ease-in; -moz-transition: all 300ms ease-in; -ms-transition: all 300ms ease-in; -o-transition: all 300ms ease-in; transition: all 300ms ease-in; text-align: center; line-height: 35px; height: 35px; border: 0; color: #fff; background: #3f3f3f; display: inline-block; letter-spacing: 2px; text-transform: uppercase; padding: 0; font-size: 14px; font-weight: 700; }
.box-info-product .exclusive span { padding: 0 15px; }
.box-info-product .exclusive.added:before { display: none; }
.box-info-product .exclusive.added.disabled:before, .box-info-product .exclusive.disabled:before { height: 51px; animation: 2s linear 0s normal none infinite spin; -webkit-animation: 2s linear 0s normal none infinite spin; -moz-animation: 2s linear 0s normal none infinite spin; border: none; }
.box-info-product .exclusive:hover { background: #898989; color: white; }

#center_column.col-sm-9 .col-md-3 .box-info-product { background: #f6f6f6; border: 1px solid #d2d0d0; border-top: 1px solid #b0afaf; border-bottom: 1px solid #b0afaf; }
#center_column.col-sm-9 .col-md-3 .box-info-product .exclusive { padding: 0; border-top: 1px solid #0079b6; border-right: 1px solid #006fa8; border-left: 1px solid #006fa8; border-bottom: 1px solid #012740; -webkit-border-radius: 5px; -moz-border-radius: 5px; -ms-border-radius: 5px; -o-border-radius: 5px; border-radius: 5px; position: relative; display: block; background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #009ad0), color-stop(100%, #007ab7)); background-image: -webkit-linear-gradient(#009ad0, #007ab7); background-image: -moz-linear-gradient(#009ad0, #007ab7); background-image: -o-linear-gradient(#009ad0, #007ab7); background-image: linear-gradient(#009ad0, #007ab7); filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#009ad0', endColorstr='#007ab7',GradientType=0 ); }
#center_column.col-sm-9 .col-md-3 .box-info-product .exclusive:before { font-family: "FontAwesome"; position: relative; top: 0; left: 0; bottom: 0; color: white; font-size: 25px; line-height: 47px; text-shadow: 0 1px #015883; content: "\f07a"; z-index: 2; width: 51px; text-align: center; border: none; -webkit-border-radius: 0; -moz-border-radius: 0; -ms-border-radius: 0; -o-border-radius: 0; border-radius: 0; }
@media (max-width: 991px) { #center_column.col-sm-9 .col-md-3 .box-info-product .exclusive:before { display: none; } }
#center_column.col-sm-9 .col-md-3 .box-info-product .exclusive.added:before { content: "\f00c"; }
#center_column.col-sm-9 .col-md-3 .box-info-product .exclusive.added.disabled:before, #center_column.col-sm-9 .col-md-3 .box-info-product .exclusive.disabled:before { content: "\f110"; animation: 2s linear 0s normal none infinite spin; -webkit-animation: 2s linear 0s normal none infinite spin; -moz-animation: 2s linear 0s normal none infinite spin; border: none; }
#center_column.col-sm-9 .col-md-3 .box-info-product .exclusive:after { background: none; position: absolute; top: 0; bottom: 0; left: 51px; content: ""; width: 1px; z-index: 2; }
@media (max-width: 991px) { #center_column.col-sm-9 .col-md-3 .box-info-product .exclusive:after { display: none; } }
#center_column.col-sm-9 .col-md-3 .box-info-product .exclusive span { font-weight: 500; font-size: 18px; line-height: 22px; border: none; border-top: 1px solid #006fa8; text-shadow: 0 1px #015883; padding: 12px 16px 14px; color: white; display: block !important; -webkit-border-radius: 0; -moz-border-radius: 0; -ms-border-radius: 0; -o-border-radius: 0; border-radius: 0; -webkit-transition: all 0.3s ease; -moz-transition: all 0.3s ease; -o-transition: all 0.3s ease; transition: all 0.3s ease; }
@media (max-width: 1199px) { #center_column.col-sm-9 .col-md-3 .box-info-product .exclusive span { font-size: 16px; } }
@media (max-width: 991px) { #center_column.col-sm-9 .col-md-3 .box-info-product .exclusive span { padding: 8px 12px 10px; text-align: center; } }
#center_column.col-sm-9 .col-md-3 .box-info-product .exclusive:hover { background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #007ab7), color-stop(100%, #009ad0)); background-image: -webkit-linear-gradient(#007ab7, #009ad0); background-image: -moz-linear-gradient(#007ab7, #009ad0); background-image: -o-linear-gradient(#007ab7, #009ad0); background-image: linear-gradient(#007ab7, #009ad0); filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#007ab7', endColorstr='#009ad0',GradientType=0 ); background-position: 0 0; }

/* table_data_sheet */
.table-data-sheet { border-bottom: 1px solid #e5e5e5; width: 100%; margin: 0 0 20px; background: white; }
.table-data-sheet tr { border-top: 1px solid #e5e5e5; }
.table-data-sheet tr.even { background: #fdfdfd; }
.table-data-sheet tr td { padding: 10px 20px 11px; }
.table-data-sheet tr td:first-child { border-right: 1px solid #e5e5e5; width: 30%; font-weight: 700; color: #333333; }

/* table product-discounts */
table.table-product-discounts { border: none; border-bottom: 1px solid #e5e5e5; border-right: 1px solid #e5e5e5; width: 50%; margin: 0 0 20px; background: white; }
@media (max-width: 767px) { table.table-product-discounts { width: 100%; } }
table.table-product-discounts tr th { background: #fbfbfb; color: #333333; font-weight: 700; border: none; font-weight: 700; }
table.table-product-discounts tr td, table.table-product-discounts tr th { border-left: 1px solid #e5e5e5; width: 33%; padding: 10px 20px 11px; border-top: 1px solid #e5e5e5; border-right: none; text-shadow: none; text-transform: none; font-weight: 13px; line-height: 18px; border-bottom: none; }

/* accessories  */
.accessories-block .block_description { display: none; }
.accessories-block .exclusive span { font-size: 13px; line-height: 18px; padding: 2px 8px 3px; text-decoration: none; }
.accessories-block .exclusive span:focus, .accessories-block .exclusive span:active { text-decoration: none; }
.accessories-block .product-name { margin-bottom: 5px; }
.accessories-block .product-name a { font-size: 15px; line-height: 18px; color: #3a3939; }
.accessories-block .product-name a:hover { color: #515151; }
.accessories-block div ul li a { display: inline-block; }
.accessories-block div ul li.s_title_block a, .accessories-block div ul li.s_title_block span { font-weight: 700; }

/* quantity_wanted */
#quantity_wanted_p input { width: 78px; height: 35px; padding: 0 6px; float: left; border: 1px solid #e5e5e5; line-height: 35px; }
#quantity_wanted_p .btn { float: left; margin-left: 3px; }
#quantity_wanted_p label { display: block; margin-bottom: 7px; }

/* availability_statut */
#availability_statut span#availability_label, #availability_date_label { display: inline-block; width: 125px; font-weight: 700; font-size: 12px; text-align: right; }

#quantityAvailable { color: #333333; font-size: 13px; line-height: 18px; font-weight: 700; }

#availability_value, #last_quantities { color: white; font-weight: 700; line-height: 18px; display: inline-block; padding: 3px 8px 4px; margin-left: 5px; }

#last_quantities { background: #fe9126; border: 1px solid #e4752b; padding: 4px 8px 3px; position: relative; top: 1px; margin-left: 0px; }

#availability_statut, #pQuantityAvailable { display: inline-block; }

#pQuantityAvailable span { font-weight: normal; color: #868686; font-size: 15px; font-style: italic; }

/* box-security */
.box-security { padding: 20px 0; clear: both; }

/* prices */
.discount { display: none; }

.our_price_display { font-weight: 700; font-size: 29px; line-height: 32px; color: #000000; }
@media (max-width: 991px) { .our_price_display { font-size: 26px; line-height: 28px; } }
.our_price_display .price { font-weight: 700; font-size: 36px; line-height: 32px; color: #000000; }
@media (max-width: 991px) { .our_price_display .price { font-size: 26px; line-height: 28px; } }

#old_price { padding-bottom: 15px; font-size: 18px; text-decoration: line-through; display: inline-block; line-height: 27px; font-weight: 500; margin: 0; color: #000000; vertical-align: top; }
#old_price .price { font-size: 16px; color: #000000; }

#reduction_percent, #reduction_amount { overflow: hidden; color: white; text-align: center; z-index: 0; min-width: 50px; padding: 0 5px; background: #f7a62d; height: 27px; line-height: 27px; border-radius: 20px; display: inline-block; }
#reduction_percent span, #reduction_amount span { display: block; }
.hide-left-column.hide-right-column #reduction_percent, .hide-left-column.hide-right-column #reduction_amount { display: inline-block; }

#reduction_percent { display: none !important; }

/* online_only */
.pb-center-column p.online_only { font-weight: 700; font-size: 13px; color: #f13340; text-align: left; }

.buttons_bottom_block { clear: both; }
.buttons_bottom_block #wishlist_button { font-weight: 700; }

/* SEND TO FRIEND (pop-in) ##################################################################### */
#send_friend_form { width: 555px; overflow: hidden; }
@media (max-width: 767px) { #send_friend_form { width: 280px; } }
#send_friend_form .product img { margin: 0 0 10px 0; border: 1px solid #e5e5e5; }
#send_friend_form .product p { padding: 0; color: #333333; }
#send_friend_form .product p .product_name { font-size: 12px; color: #000; }
#send_friend_form .form_container { padding: 10px 15px; border: 1px solid #e5e5e5; background: #fbfbfb; }
#send_friend_form .form_container p.intro_form { padding-bottom: 6px; font-weight: 700; font-size: 13px; color: #333333; }
#send_friend_form .form_container p.txt_required { padding-bottom: 0; color: #666; }
#send_friend_form .form_container .text { padding-bottom: 10px; }
#send_friend_form .form_container .text label { display: block; padding: 0; width: 100%; font-size: 12px; }
#send_friend_form .form_container .text input { padding: 0 5px; height: 22px; width: 100%; border: 1px solid #e5e5e5; font-size: 12px; color: #666; }
#send_friend_form .submit { margin-top: 20px; padding-bottom: 0; text-align: right; }

/* PERSONNALISATION ##################################################################### */
p.infoCustomizable { margin-bottom: 30px; }

ul#uploadable_files, ul#text_fields { list-style-type: none; }

.customizableProductsFile, .customizableProductsText { margin-bottom: 20px; padding-bottom: 10px; border-bottom: 1px solid #e5e5e5; }

.customizationUploadLine { padding-bottom: 10px; }
.customizationUploadLine label { display: block; vertical-align: top; }
.customizationUploadLine textarea { width: 50%; border: 1px solid #e5e5e5; color: #777777; }

.customizationUploadBrowse img + a { position: relative; top: -51px; }

#customizedDatas { float: right; }

/******************************************************************
Quick View Styles
******************************************************************/
#product.content_only div.primary_block { margin-bottom: 0; }
@media (max-width: 991px) { #product.content_only div.primary_block { margin-right: 0; } }
#product.content_only div.primary_block div.pb-left-column { padding: 20px 20px 5px 35px; width: 47%; }
@media (max-width: 767px) { #product.content_only div.primary_block div.pb-left-column { width: 70%; margin: 0 auto; } }
@media (max-width: 479px) { #product.content_only div.primary_block div.pb-left-column { width: 100%; float: none; padding: 20px 5px 5px 20px; } }
#product.content_only div.primary_block div.pb-left-column span.view_scroll_spacer { width: 38px; padding-left: 10px; }
@media (max-width: 479px) { #product.content_only div.primary_block div.pb-left-column span.view_scroll_spacer { width: 28px; } }
#product.content_only div.primary_block div.pb-left-column #thumbs_list { width: 392px; }
#product.content_only div.primary_block div.pb-center-column { padding: 20px 20px 60px 0px; margin-bottom: 0; min-height: 623px; height: 100%; }
@media (max-width: 767px) { #product.content_only div.primary_block div.pb-center-column { width: 100% !important; } }
@media (max-width: 991px) { #product.content_only div.primary_block div.pb-center-column { min-height: 440px; } }
@media (max-width: 479px) { #product.content_only div.primary_block div.pb-center-column { width: 100%; float: none; } }
#product.content_only div.primary_block div.pb-center-column .product_comments_block_extra { padding-right: 0; }
@media (max-width: 479px) { #product.content_only div.primary_block div.pb-center-column .comments_advices li { display: block; }
  #product.content_only div.primary_block div.pb-center-column .comments_advices a.reviews { margin: 0; padding: 0; border: none; } }
#product.content_only div.primary_block div.pb-center-column #ShareDiv { position: absolute; bottom: 8px; }
#product.content_only div.primary_block div.pb-right-column { width: 25.5%; padding-right: 15px; padding-left: 0; }
#product.content_only div.primary_block div.pb-right-column .box-info-product { border-top-width: 0px; border-right: none; border-bottom: none; min-height: 623px; height: 100%; -webkit-border-radius: 0 4px 4px 0; -moz-border-radius: 0 4px 4px 0; -ms-border-radius: 0 4px 4px 0; -o-border-radius: 0 4px 4px 0; border-radius: 0 4px 4px 0; position: relative; padding-bottom: 125px; }
@media (max-width: 991px) { #product.content_only div.primary_block div.pb-right-column .box-info-product { -webkit-border-radius: 0; -moz-border-radius: 0; -ms-border-radius: 0; -o-border-radius: 0; border-radius: 0; border: 1px solid #e5e5e5; } }
#product.content_only div.primary_block div.pb-right-column .box-info-product #add_to_cart .exclusive { display: block; width: 100%; }
#product.content_only div.primary_block div.pb-right-column .box-info-product #add_to_cart .exclusive:before, #product.content_only div.primary_block div.pb-right-column .box-info-product #add_to_cart .exclusive:after { display: block; }
#product.content_only div.primary_block div.pb-right-column .box-info-product #add_to_cart .exclusive span { font-size: 20px; text-align: center; }
@media (max-width: 1199px) { #product.content_only div.primary_block div.pb-right-column .box-info-product #add_to_cart .exclusive span { padding: 12px 22px 14px 70px; font-size: 20px; } }
#product.content_only div.primary_block div.pb-right-column .box-info-product .box-cart-bottom { right: 0; left: 0; }
#product.content_only div.primary_block div.pb-right-column #attributes .attribute_list .form-control { width: 230px; }
#product.content_only div.primary_block div.pb-right-column .product_attributes, #product.content_only div.primary_block div.pb-right-column .box-cart-bottom { -webkit-box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px; -moz-box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px; box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px; }
#product.content_only div.primary_block div.pb-right-column .product_attributes { padding-top: 0; }

.addsharethisinner .stButton .stArrow { display: none !important; }

@media (max-width: 1050px) { #product.content_only div.primary_block div.pb-left-column, #product.content_only section.primary_block div.pb-left-column { padding-right: 15px; }
  #product.content_only div.primary_block div.pb-left-column #image-block, #product.content_only div.primary_block div.pb-left-column #views_block, #product.content_only section.primary_block div.pb-left-column #image-block, #product.content_only section.primary_block div.pb-left-column #views_block { max-width: 470px; width: 100%; margin-left: auto; margin-right: auto; }
  #product.content_only div.primary_block div.pb-left-column #thumbs_list, #product.content_only section.primary_block div.pb-left-column #thumbs_list { width: 288px; }
  #product.content_only div.primary_block div.pb-left-column #thumbs_list li, #product.content_only section.primary_block div.pb-left-column #thumbs_list li { width: 90px; }
  #product.content_only div.primary_block div.pb-center-column, #product.content_only section.primary_block div.pb-center-column { width: 50%; float: left; padding-left: 35px; }
  #product.content_only div.primary_block div.pb-right-column, #product.content_only section.primary_block div.pb-right-column { width: 50%; float: left; }
  #product.content_only div.primary_block div.pb-right-column .box-info-product, #product.content_only section.primary_block div.pb-right-column .box-info-product { border-top-width: 1px; min-height: 1px; } }
@media (max-width: 479px) { #product.content_only div.primary_block div.pb-left-column #thumbs_list { width: 194px; } }
/***** IE code ****/
.ie8 .pb-left-column #image-block #view_full_size .span_link { background: #fff; border: 1px solid #e5e5e5; }
.ie8 .box-security { filter: none; }

.more-info { margin-bottom: 30px; }
.more-info > ul { display: block; font-family: Cabin; border: 1px solid #e5e5e5; }
.more-info > ul li { display: inline-block; border-right: 1px solid #e5e5e5; }
@media (max-width: 479px) { .more-info > ul li { width: 100%; } }
.more-info > ul li a { position: relative; line-height: 45px; display: block; padding: 0 20px; text-transform: uppercase; color: #9f9f9f; font-size: 15px; font-weight: 700; }
.more-info > ul li a.selected, .more-info > ul li a:hover { color: #868686; }

.page-product-box { font-size: 15px; padding: 30px 0; min-height: 150px; }

.blockaccessories, .blockproductscategory { padding: 0; border: 0; }
.blockaccessories .pos-title, .blockproductscategory .pos-title { border-bottom: 1px solid #e5e5e5; padding-bottom: 20px; }
.blockaccessories .boxprevnext a, .blockproductscategory .boxprevnext a { margin-top: -65px; }

.accessories-pos { margin-bottom: 50px; }
