/* Block newsletter */
/* Block newsletter */
#columns #newsletter_block_left .form-group { margin-bottom: 0; }
#columns #newsletter_block_left .form-group .form-control { max-width: 222px; display: inline-block; margin-right: 6px; }
@media (min-width: 768px) and (max-width: 1199px) { #columns #newsletter_block_left .form-group .form-control { margin-bottom: 10px; margin-right: 0; } }
#columns #newsletter_block_left .success_inline, #columns #newsletter_block_left .warning_inline { text-align: left; padding: 1px 0 0 0; margin-bottom: -19px; }
#columns #newsletter_block_left .success_inline { color: #418B19; }
#columns #newsletter_block_left .warning_inline { color: #f13340; }

/* Block newsletter footer */
#footer #newsletter_block_left { overflow: hidden; margin: 0 0 20px 0; }
@media (max-width: 767px) { #footer #newsletter_block_left { margin: 10px 0; } }
#footer #newsletter_block_left h4 { color: #333333; margin: 0 0 10px 0; line-height: 40px; text-transform: uppercase; display: block; font-size: 16px; }
@media (max-width: 767px) { #footer #newsletter_block_left h4 { margin: 0; } }
#footer #newsletter_block_left p { color: #333333; margin: 20px 0; }
#footer #newsletter_block_left .block_content { overflow: hidden; }
#footer #newsletter_block_left .form-group { margin-bottom: 0; position: relative; }
#footer #newsletter_block_left .form-group:before { content: "\f003"; font-family: "FontAwesome"; display: inline-block; position: absolute; top: 10px; left: 10px; color: #333333; z-index: 1; }
#footer #newsletter_block_left .form-group .form-control { position: relative; height: 40px; max-width: 290px; border: 0; background: white; color: #333333; padding: 10px 10px 10px 40px; margin-bottom: 10px; display: inline-block; }
#footer #newsletter_block_left .form-group .form-control:focus { -webkit-box-shadow: black 0px 0px 0px; -moz-box-shadow: black 0px 0px 0px; box-shadow: black 0px 0px 0px; }
#footer #newsletter_block_left .form-group .button-small { background: #898989; text-align: center; border: 0; height: 40px; color: #f4f4f4; display: inline-block; font-size: 13px; vertical-align: top; line-height: 40px; padding: 0 15px; margin: 0 5px; }
#footer #newsletter_block_left .form-group .button-small:hover { background: #333333; }
#footer #newsletter_block_left .form-group .button-small span { font-weight: 400; }
#footer #newsletter_block_left .warning_inline { display: block; color: #f13340; font-size: 13px; line-height: 26px; clear: both; }
@media (min-width: 1200px) { #footer #newsletter_block_left .warning_inline { display: inline-block; position: relative; top: -35px; margin-bottom: -35px; left: 15px; clear: none; } }
