#search_block_top { margin-top: 30px; position: relative; display: inline-block; width: 100%; }
@media (min-width: 992px) { #search_block_top { max-width: 370px; } }
@media (min-width: 1200px) { #search_block_top { max-width: 470px; } }
#search_block_top #searchbox { position: relative; width: 100%; }
#search_block_top .btn.button-search { background: #858585; display: block; position: relative; border: none; color: white; width: 50px; text-align: center; line-height: 40px; height: 40px; padding: 0; position: absolute; top: 0; right: 0; padding: 0; }
#search_block_top .btn.button-search span { display: none; }
#search_block_top .btn.button-search:before { content: "\e618"; display: block; font-family: "Pe-icon-7-stroke"; font-size: 24px; width: 100%; text-align: center; position: absolute; top: 0; left: 0; bottom: 0; top: 0; }
#search_block_top .btn.button-search:hover { background: #898989; }
#search_block_top .btn.button-search:active { box-shadow: none; }
#search_block_top #search_query_top { padding: 10px 50px 10px 10px; height: 40px; width: 100%; z-index: 1; color: #898989; background: #fff; border: 0; background: #f6f6f6; -webkit-transition: all 300ms ease-in; -moz-transition: all 300ms ease-in; -ms-transition: all 300ms ease-in; -o-transition: all 300ms ease-in; transition: all 300ms ease-in; }
#search_block_top #search_query_top:focus { box-shadow: none; }

.ac_results { background: white; border: 1px solid #e5e5e5; margin-top: -1px; }
.ac_results li { padding: 0 10px; font-weight: normal; color: #686666; font-size: 13px; line-height: 22px; }
.ac_results li.ac_odd { background: white; }
.ac_results li:hover, .ac_results li.ac_over { background: #fbfbfb; }

@media (max-width: 767px) { #search_block_top { position: static; margin-top: 25px; width: 100%; }
  #search_block_top #searchbox { float: none; margin-bottom: 20px; } }
