@import "compass";
@import "theme_variables";
.pos-new-product {
	.item-product {
		margin:0 0 15px 0;
		&:last-child {
			margin:0;
		}
		.product-contents {
			@media (min-width:$screen-md) {
				display: inline;
				padding:0;
				h5.product-name a,.hook-reviews {
					display:none;

				}
			}
		}
	}
}
