@import "compass";
@import "theme_variables";

/*******************************************************
Product list Styles
********************************************************/

ul.product_list {
	h5.product-name {
		display: inline-block;
		width: 100%;
		overflow: hidden;
	}
	.availability {
		span {
			display: inline-block;
			color: $light-text-color;
			font-weight: bold;
			padding: 3px 8px 4px 8px;
			margin-bottom: 20px;
		}
	}
	.color-list-container {
		margin: 15px 0;
		display:inline-block;
		width:100%;
		ul {
			li {
				display: inline-block;
				border: 1px solid $base-border-color;
				width: 26px;
				height: 26px;
				a {
					display: block;
					width: 22px;
					height: 22px;
					margin: 1px;
					img {
						display: block;
						width: 22px;
						height: 22px;
					}
				}
			}
		}
	}
	.product-image-container {
		text-align: center;
		img {
			margin: 0 auto;
		}
		.quick-view-wrapper-mobile {
    		display: none;
    		.quick-view-mobile {
    			display: none;
	    		@media (max-width: $screen-md-max) {
					display: block;
					position: relative;
					background-color: rgba(208, 208, 211, 0.57);
					height: 130px;
					width: 85px;
					top: 80px;
					right: -162px;
					-moz-transform: rotate(45deg);
					-o-transform: rotate(45deg);
					-webkit-transform: rotate(45deg);
					-ms-transform: rotate(45deg);
					transform: rotate(45deg);
					zoom: 1;
					pointer-events: all;
					i {
						position: relative;
						top: 48px;
						left: -20px;
						font-size: x-large;
						color: black;
					}
					i:before{
							-moz-transform: rotate(315deg);
							-o-transform: rotate(315deg);
							-webkit-transform: rotate(315deg);
							-ms-transform: rotate(315deg);
							transform: rotate(315deg);
					}
				}
    		}
    		.quick-view-mobile:hover{
    			@media (max-width: $screen-md-max) {
						background-color: rgba(167, 167, 167, 0.57);
				}
			}
    		@media (max-width: $screen-md-max) {
	 			display: block;
				background-color: transparent;
				height: 155px;
				width: 215px;
				position: absolute;
				overflow: hidden;
				pointer-events: none;
				bottom: 0px;
				right: 0px;
    		}
    	}

	}
	.comments_note {
		overflow: hidden;
		.nb-comments {
			overflow: hidden;
			font-style: italic;
		}
	}
	.functional-buttons {
		div {
			a, label {
				font-weight: bold;
				color: #777676;
				cursor: pointer;
				&:hover {
					color: #000;
				}
			}
			&.wishlist {
				border-right: 1px solid $base-border-color;
				a:before {
					display: inline-block;
					font-family: $font-icon;
					content: "\f08a";
					margin-right: 3px;
					padding: 0 3px;
				}
				a.checked:before {
					content: "\f004";
				}
				@media (min-width: $screen-md) and (max-width: $screen-md-max) { // min 992px max 1199px
					border-right: 0;
					a:before {
						display:none;
					}
				}
				@media (min-width: $screen-xs) and (max-width: $screen-xs-max) { // min 480px max 767px
					border-right: 0;
					a:before {
						display:none;
					}
				}
			}
			&.compare {
				a {
					&:before {
						content: "\f067";
						display: inline-block;
						font-family: $font-icon;
						margin-right: 3px;
						@media (min-width: $screen-md) and (max-width: $screen-md-max) { // min 992px max 1199px
							display: none;
						}

						@media (min-width: $screen-xs) and (max-width: $screen-xs-max) { // min 480px max 767px
							display: none;
						}
					}
					&.checked {
						&:before {
							content: "\f068";
						}
					}
				}
			}
		}
	}
}

/*******************************************************
Product list(Grid) Styles
********************************************************/

ul.product_list.grid {
	> li {
		@media (min-width: $screen-xs) and (max-width: $screen-xs-max) { // min 480px max 767px
			width: 50%;
			float: left;
		}
		.product-container {
			background: $light-background;
			padding: 0;
			margin:0;
		    margin-bottom: 20px;
			position: relative;
			.product-image-container {
				position: relative;
				@media (max-width: $screen-xs-max) { // max 767px
					margin-left: auto;
					margin-right: auto;
				}
				.price-box {
					display:none;					
				}
			}
			
			.product-desc {
				display: none;
			}
			.right-block {
				.price-percent-reduction {
				display:none
				}
			}
			
			.product-flags {
				display: none;
			}
			.old-price {
				margin-right: 5px;
			}
			.color-list-container ,span.label-success{
				display:none;
			}
			.button-container {
				@media (min-width: $screen-lg) { // min 1200px
					display: none;
				}
				margin-bottom: 14px;
				.ajax_add_to_cart_button,
				span.button,
				.lnk_view {
					margin: 0 6px 10px 6px;
				}
			}
			.functional-buttons {
				background: url(../img/functional-bt-shadow.png) repeat-x;
				padding: 11px 0 5px;
				@media (min-width: $screen-lg) { // min 1200px
					display: none;
				}
				div {
					width: 50%;
					float: left;
					padding: 3px 0 4px 0;
				}
			}
		}
	
		@media (min-width: $screen-md) { // min 991px
			&.first-in-line {
				clear: left;
			}
		}
		@media (min-width: $screen-xs) and (max-width: $screen-sm-max) { // min 480px max 991px
			&.first-item-of-tablet-line {
				clear: left;
			}
		}
	}
	
}
#blockpack {
	ul {
		>li {
			@media (min-width: $screen-lg) { // min 1200px
				&.last-line {
					border: none;
					padding-bottom: 0;
					margin-bottom: 0;
				}
			}
			@media (min-width: $screen-xs) and (max-width: $screen-xs-max) { // min 480px max 767px
				&.first-item-of-tablet-line {
					clear: none;
				}
				&.first-item-of-mobile-line {
					clear: left;
				}
			}
		}
	}
}

/*******************************************************
Product list(List) Styles
********************************************************/

ul.product_list.list {
	> li {
		.left-block,.right-block  {
			@media (max-width: $screen-xs - 1) { // max 479px
				width: 100%;
				
			}
		}
		.left-block{
			@media (max-width: $screen-xs - 1) { // max 479px
				margin-bottom:20px;
			}
			
			.actions {
				.add-to-links {
					display:none;
				}
				.quick_view a {
					padding:0 20px;
				}
			}
		}
		.product-container {
			padding: 0 0 30px;
		}
		.product-image-container {
			position: relative;

			@media (max-width: $screen-xs - 1) { // max 479px
				margin: 0 auto;
			}
			.price-box {
				display:none;
				
			}
		}
		.product-flags {
			color: $base-text-color;
			margin: -5px 0 10px 0;
			.discount {
				color: #f13340;
			}
		}
		
		.center-block {
			@media (max-width: $screen-xs - 1) { // max 479px
				width: 100%;
			}
			.comments_note {
				margin-bottom: 12px;
			}
		}
		.right-block {
			.product-contents {
				padding-top:0;
				text-align:left;
				@media (min-width: $screen-md) { // min 991px
					margin: 0;
					padding-bottom: 15px;
				}


				@media (max-width: $screen-xs - 1) { // max 479px
					padding-top: 5px;
				}
				.price-box  {
					position:static;
					.price-percent-reduction {
						display:none;
					}
				}
				h5.product-name {
					a {
						color: #252525;
						font-size: 22px;
						font-weight:700;
						text-transform:uppercase;
						padding:  0;
						line-height:40px;
						letter-spacing: 0.1em;
						@media (max-width:$screen-sm-max){
							font-size: 16px;
						}
					}
				}
				.hook-reviews {
					margin-bottom:15px;
				}
				.product-desc {
					font-size:14px;
					color:#868686;
					line-height:25px;
					padding:0;
					font-weight:normal;
					margin:15px 0 35px 0;
				}
				.actions {
					position: static;
					opacity: 1;
					padding: 0;
					margin:0;
					background: transparent;
					display: inline-block;
					.add-to-links li {
						opacity:1;
						display:inline-block;
					    -webkit-transform: none;
						-moz-transform: none;
						-ms-transform: none;
						-o-transform: none;
						transform: none;
						a {
							width:35px;
							height:35px;
							line-height:35px;
							margin:0 2px;
							&.ajax_add_to_cart_button  {
								background:#3f3f3f;
								color:$light-text-color;
								width:auto;
								font-size:14px;
								text-transform:uppercase;
								letter-spacing:2px;
								border:0;
								padding:0 20px;
								@media (max-width:$screen-xs){
									padding:0 10px;
								}
								&:before {
									display:none;
								}
							}
							&.addToWishlist,&.add_to_compare ,&.quick-view{
								border:1px solid #a1a1a1;
								
							}
							&:hover ,&.add_to_compare.checked{
								color:$light-text-color;
								background:$main-background;
								border-color:$hover-color;
							}
						}
					}
				}

				.button-container {
					overflow: hidden;
					padding-bottom: 20px;
					@media (max-width: $screen-xs - 1) { // max 479px
						width: 100%;
					}
					.btn {
						margin-bottom: 10px;
						@media (min-width: $screen-md) { // min 991px
						float: left;
						clear: both;
						}
					}
				}
				.functional-buttons {
					@media (min-width: $screen-md) { // min 991px
						overflow: hidden;
					}
					@media (max-width: $screen-sm-max) { // max 991px
						clear: both;
						> div {
							float: left;
							padding-top: 0 !important;
							padding-right: 20px;
						}
					}
					@media (max-width: $screen-xs - 1) { // max 479px
						float: none;
						display: inline-block;
						a, label {
							i, &:before {
								display: none !important;
							}
						}
					}
					a {
						cursor: pointer;
					}
					.wishlist {
						border:none;
					}
					.compare {
						padding-top: 10px;
						a {
							&:before {
								margin-right:10px;
							}
						}
					}
				}
			}
		}
	
		@media (max-width: $screen-xs - 1) {	// max 479px
			
		}
	}
}

/*******************************************************
Product list(Index page) Styles
********************************************************/

#index {
	ul.product_list.tab-pane {
		> li {
			padding-bottom: 10px;
			margin-bottom: 10px;
			@media (min-width: $screen-lg) { // min 1200px
				padding-bottom: 85px;
				margin-bottom:0;
			}
			.availability {
				display: none;
			}
			@media (min-width: $screen-lg) { // min 1200px
				&.last-line {
					border: none;
					padding-bottom: 0;
					margin-bottom: 0;
				}
			}
			@media (min-width: $screen-xs) and (max-width: $screen-xs-max) { // min 480px max 767px
				&.first-item-of-tablet-line {
					clear: none;
				}
				&.first-item-of-mobile-line {
					clear: left;
				}
			}
		}
	}
}
/***** IE code *****/

.ie8 {
	.quick-view	 {
		background: #fff;
		border: 1px solid $base-border-color;
	}
}
