@import "compass";
@import "theme_variables";

/* product desc */
/* primary_block ***************************************************************************** */
.primary_block {
	margin-bottom: 40px;
}

.product-heading-h5{
	color: $gray-light;
	font-weight: 200;
	margin: 3px 0 8px;
	font-size: 19px;
	font-family: $font-custom;
}
.box-security .product-heading-h5{
	margin: 3px 0 -8px;
	@media  (max-width: $screen-md-max) { //max 1199px
	margin-bottom: 8px;
	}
}
.box-security img {
	width:auto;
}
.primary_block .pb-left-column img {
	max-width: 100%;
	height: auto;
}
a.fancybox-nav {
	outline:0
}
/* .pb-left-column ***************************************************************************** */
.pb-left-column {
	text-align:center;
	#image-block {
		position: relative;
		display: block;
		cursor: pointer;
		background: $light-background;
		border:$main_border;
		@media (max-width: $screen-xs-max) { //max 767px
			width: 280px;
			margin: 0 auto;
		}
		img {
			background: $base-box-bg;
			width: 100%;
		}
	
		#view_full_size {
			.span_link {
				position: absolute;
				bottom: 20px;
				left: 50%;
				margin-left: -68px;
				display: block;
				padding: 10px 0;
				text-align: center;
				line-height: 22px;
				color: #777676;
				width: 136px;
				text-align: center;
				font-weight: 700;
				background: rgba(255,255,255,1);
				@include box-shadow(0 2px 8px rgba(0,0,0,0.16));
				&:after{
					font-family: $font-icon;
					color: #c0c0c0;
					font-size: 20px;
					line-height: 22px;
					content: "\f00e";
					font-weight: normal;
					margin: 0 0 0 4px;
				}
				&:hover:after{
					color: $base-text-color
				}
			}
		}
		a.jqzoom {
			div div {
				img {
					width: auto;
					max-width: 10000px;
				}
				.zoomWrapper {
					border: none;
				}
			}
		}
		.zoomPad {
			z-index : auto!important;
		}
		.new-box,
		.sale-box {
			z-index: 5002
		}
		@media (min-width: $screen-lg) {
			&:hover #view_full_size  .span_link {
					opacity:1 ;
					@include pos-transition(300ms);
					@include pos-transform(1);
				
				}
			#view_full_size {
				.span_link {
					opacity:0;
					bottom:50%;
					margin-bottom:-21px;
					@include pos-transition(300ms);
					@include pos-transform(0);
				}
			}
		}
	}
}


/* miniatures */
.pb-left-column #views_block {
	margin:0 auto;
	display:inline-block;
	margin-top: 10px;
	@media (max-width: $screen-xs-max) { //max 767px
		width: 280px;
		margin: 10px auto 0px auto;
	}
	@media (min-width: $screen-lg) {
		position: absolute;
		bottom: 35px;
		left: 50%;
		margin-left: -180px;
		z-index:1;
	}
}

#thumbs_list {
	overflow: hidden;
	float: left;
	width: 294px;
	@media (min-width: $screen-md) and (max-width: $screen-md-max) { //min 992px max 1199px
		width: 196px;
	}
	@media (min-width: $screen-sm) and (max-width: $screen-sm-max) { // min 768px max 991px
		width: 164px;
	}
	@media (max-width: $screen-xs-max) { //max 767px
		width: 196px;
	}
	ul#thumbs_list_frame {
		list-style-type: none;
		padding-left: 0;
		overflow: hidden;
	}
	li {
		float: left;
		width: 90px;
		cursor: pointer;
		margin-right: 8px;
		line-height: 0;
		@include box-sizing(border-box);
		@media (min-width: $screen-sm) and (max-width: $screen-sm-max) { //min 768px max 991px
			width: 76px;
			margin-right: 6px;
		}
		a{
			display: block;
			border: 1px solid $product-image-border;
			@include transition(all 0.3s ease);
			@include box-sizing(border-box);
			background: $base-box-bg;
			&.shown {
				border-color:$hover-color;
			}
		
		}
		img {
			border: 1px solid transparent;
			width: 100%;
			height: 100%;
			@include box-sizing(border-box);
			
		}
	}
}

.show-right-column.hide-left-column, .hide-right-column.show-left-column
{
	#thumbs_list {
		width: 294px;
		@media (min-width: $screen-md) and (max-width: $screen-md-max) { //min 992px max 1199px
			width: 194px;
		}
		@media (min-width: $screen-sm) and (max-width: $screen-sm-max) { // min 768px max 991px
			width: 164px;
		}
		@media (max-width: $screen-xs-max) { //max 767px
			width: 196px;
		}
	}
}

span.view_scroll_spacer {
	float: left;
	width: 39px;
	padding-left: 12px;
	@media (min-width: $screen-md) and (max-width: $screen-md-max) { //min 992px max 1199px
		width: 45px;
		padding-left: 18px;
	}
	@media (min-width: $screen-sm) and (max-width: $screen-sm-max) { // min 768px max 991px
		width: 30px;
		padding-left: 3px;
	}
	@media (max-width: $screen-xs-max) { //max 767px
		width: 45px;
		padding-left: 18px;
	}
}
.show-right-column.hide-left-column, .hide-right-column.show-left-column
{
	span.view_scroll_spacer {
		width: 27px;
		padding-left: 2px;
		@media (min-width: $screen-md) and (max-width: $screen-md-max) { //min 992px max 1199px
			width: 44px;
			padding-left: 16px;
		}
		@media (min-width: $screen-sm) and (max-width: $screen-sm-max) { // min 768px max 991px
			width: 41px;
			padding-left: 13px;
		}
		@media (max-width: $screen-xs-max) { //max 767px
			width: 45px;
			padding-left: 14px;
		}
	}
}
#view_scroll_left,
#view_scroll_right {
	margin-top: 48px;
	height: 20px;
	width: 20px;
	text-align:center;
	border:1px solid silver;
	border-radius:100%;
	line-height: 0;
	font-size: 0;
	overflow: hidden;
	@media (min-width: $screen-sm) and (max-width: $screen-sm-max) { //min 768px max 991px
		margin-top: 38px;
	}
	&:before{
		color: $scroll-button-color;
		font-family: $font-icon;
		font-size: 13px;
		line-height: 17px;
	}
	&:hover:before{
		color: $scroll-button-hover-color;
	}
}
#view_scroll_right {
	float: left;
	&:before{
		content: "\f105";
	}
}
#view_scroll_left {
	margin-top: 0;
	&:before{
		content: "\f104";
		padding-right: 2px;
	}
}
.resetimg {

	#resetImages i{
		margin-right: 6px;
	}
}
.view_scroll_spacer {
	margin-top: 48px;
	@media (min-width: $screen-sm) and (max-width: $screen-sm-max) { //min 768px max 991px
		margin-top: 38px;
	}
}

/* link list */
#usefull_link_block {
	list-style-type: none;
	clear:both;
	margin:0;
	li {
		margin: 0 0 8px 0;
		@media (min-width: $screen-sm) and (max-width: $screen-sm-max) {	 //min 768px max 991px
			float: none !important;
		}
		&:first-child{
			margin: 0 0 8px 0;
			border: none;
			padding: 0;
		}
		a{
			color: #868686;
			font-weight: normal;
			position: relative;
			padding-left: 25px;
			line-height: 22px;
			display: inline-block;
			font-size: 15px;

			&:before{
				font-family: $font-icon;
				font-size: 14px;
				line-height: 24px;
				position: absolute;
				top: -2px;
				left: 0;
				font-weight: normal;
			}
			&:hover{
				color:$hover-color;
			}
		}
		&.print{
			@media (min-width: $screen-sm) and (max-width: $screen-sm-max) { //min 768px max 991px
				margin: 8px 0 0 ;
				padding: 0;
				border: none;
			}
			a:before{
				content: "\f02f";
			}
		}
		&.sendtofriend {
			a:before{
				content: "\f003";
			}
		}
		&#left_share_fb {
			clear: both;
			float: none;
			a{
				padding-left: 18px;
			}
			a:before{
				content: "\f09a";
			}
		}
		&#favoriteproducts_block_extra_remove,
		&#favoriteproducts_block_extra_add,
		&#favoriteproducts_block_extra_removed,
		&#favoriteproducts_block_extra_added{
			cursor: pointer;
			font-weight: 700;
			clear: both;
			float: none;
			margin: 0 0 8px 0;
			border: none;
			padding: 0;
			position: relative;
			&:before{
				font-family: $font-icon;
				color: $base-text-color;
				font-size: 19px;
				line-height: 24px;
				position: absolute;
				top: -2px;
				left: 0;
				font-weight: normal;
				content: "\f08a";
			}
			&:hover{
				color: #000;
			}
		}
		&#favoriteproducts_block_extra_removed:before {
			content: "\f004";
		}
	}
}


/* pb-left-column ****************************************************************************** */
.pb-center-column {
	margin-bottom: 30px;
	h1 {
		color:#010101;
		text-transform: uppercase;
		font-size: 24px;
		line-height:35px;
	    margin: 15px 0;
		font-weight:700;
		letter-spacing: 0.1em;
		@media (max-width:$screen-sm-max) {
			font-size:18px;
		}

	}
	label {
		color:#868686;
		font-size:15px;
		font-weight:normal;
		font-style:italic;
	}
	p {
		margin-bottom: 10px;
		font-size:15px;
	}
	#product_reference {
		margin-bottom: 6px;
	
	}
	#short_description_block {
		color: $description-color;
		.buttons_bottom_block {
			display: none;
		}
		#short_description_content{
			border-bottom:$main_border;
			padding-bottom:30px;
			margin-bottom:15px;
			word-wrap: break-word;
			p{
				line-height: 27px;
				font-size:16px;
				color:#868686;
				margin:0;
			}
		}
	}
	/* form */
	#buy_block {
		
		label {
			display: inline-block;
			float:left;
			font-weight: normal;
			font-size: 15px;
			margin-right:10px;
			line-height:35px;
		}
		p{
			&.price {
				padding: 0;
			}
		}
	}
	#color_picker p {
		padding-bottom: 5px;
		font-weight: 700;
	}
}
#product p#loyalty {
	padding: 17px 0 15px 35px;
	border-top: $main_border;
	border-bottom: $main_border;
	margin: 10px 0 -5px;
	position: relative;
	b{
		color: $base-text-color
	}
	&:before{
		content: "\f024";
		font-family: $font-icon;
		color: #cfcccc;
		font-size: 26px;
		line-height: 28px;
		position: absolute;
		top: 16px;
		left: 0;
	}
}
#page .rte {
	padding: 0 0 20px 0;
	word-wrap: break-word;
	p{
		margin-bottom: 1em;
		min-height: 1px;
		line-height: 27px;
		color: #868686;
		font-size:15px;
	}
}
#attributes{
	fieldset {
		padding-bottom: 3px;
		label {
			vertical-align: top;
			display: block;
		}
	}
	.attribute_list {
		width: 100%;
		.form-control {
			max-width: 230px;
			option{
				background: $light-background;
				color: $description-color;
			}
		}
		ul{
			clear: both;
			li{
				float: left;
				margin-right: 10px;
			}
		}
		input.attribute_radio{
			float: left;
			margin-left: 3px;
		}
		div.radio,
		div.radio span,
		div.radio input{
			float: none;
			display: inline-block;
		}
		#color_to_pick_list {
			list-style-type: none;
			li {
				float: left;
				margin: 0 3px 3px 0;
				padding: 1px;
				border: 1px solid $base-border-color;
				clear: none;
      			width: 26px;
      			height: 26px;
				a.color_pick {
					display: block;
					height: 22px;
					width: 22px;
					cursor: pointer;
					img {
						display: block;
						height: 22px;
						width: 22px;
					}
				}
				&.selected{
					border:1px solid #4d4d4d;
				}
			}
		}
	}
}
.product_attributes,
.box-cart-bottom {

}
.box-cart-bottom{
	padding: 0;
	border-bottom:$main_border;
    padding-bottom: 15px;
    margin-bottom: 15px;
	display: inline-block;
    width: 100%;
}
.cart-product {
	.buttons_bottom_block {
		float:left;
		margin-bottom:15px;
		clear:none;
	}
}
#short_description_content,
.page-product-box .rte {
	a{
		color: #868686;
		text-decoration: underline;
	}
	a.btn{
		text-decoration: none;
	}
}
.box-info-product {

	p{
	margin-bottom: 15px;
    float: left;
    margin-right: 15px;
	@media (max-width:320px){
		margin-right:0;
	}
	
	}
	.exclusive{
	position:relative;
		@include pos-transition(300ms);
		text-align:center;
		line-height:35px;
		height:35px;
		border:0;
		color:#fff;
		background:#3f3f3f;
		display: inline-block;
		letter-spacing:2px;
		text-transform: uppercase;
		padding:0;
		font: {
			size:14px;
			weight:700;
		}
		span {
			padding:0 15px;
		}
		
		&.added {
			&:before {
			display:none;
			}
		}
		&.added.disabled,
		&.disabled {
			&:before {
				height: 51px;
				animation: 2s linear 0s normal none infinite spin;
				-webkit-animation: 2s linear 0s normal none infinite spin;
				-moz-animation: 2s linear 0s normal none infinite spin;
				border: none;
			}
		}
	
		&:hover{
			background:$main-background;
			color:$light-text-color;
		}
	}
}

#center_column.col-sm-9{
	.col-md-3{
		.box-info-product {
			background: $list-info-bg;
			border: 1px solid #d2d0d0;
			border-top: 1px solid #b0afaf;
			border-bottom: 1px solid #b0afaf;
			.exclusive{
				padding: 0;
				border-top: 1px solid #0079b6;
				border-right: 1px solid #006fa8;
				border-left: 1px solid #006fa8;
				border-bottom: 1px solid #012740;
				@include border-radius(5px);
				position: relative;
				display: block;
				@include background-image(linear-gradient(#009ad0, #007ab7));
				filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#009ad0', endColorstr='#007ab7',GradientType=0 );
				&:before{
					font-family: $font-icon;
					position: relative;
					top: 0;
					left: 0;
					bottom: 0;
					color: $light-text-color;
					font-size: 25px;
					line-height: 47px;
					text-shadow: 0 1px #015883;
					content: "\f07a";
					z-index: 2;
					width: 51px;
					text-align: center;
					border: none;
					@include border-radius(0);
					@media (max-width: $screen-sm-max) { //max 991px
						display: none;
					}
				}
				&.added {
					&:before {
					content: "\f00c";
					}
				}
				&.added.disabled,
				&.disabled {
					&:before {
						content: "\f110";
						animation: 2s linear 0s normal none infinite spin;
						-webkit-animation: 2s linear 0s normal none infinite spin;
						-moz-animation: 2s linear 0s normal none infinite spin;
						border: none;
					}
				}
				&:after{
					background: none;
					position: absolute;
					top: 0;
					bottom: 0;
					left: 51px;
					content: "";
					width: 1px;
					z-index: 2;
					@media (max-width: $screen-sm-max) { // max 991px
						display: none;
					}
				}
				span{
					font-weight: 500;
					font-size: 18px;
					line-height: 22px;
					border: none;
					border-top: 1px solid #006fa8;
					text-shadow: 0 1px #015883;
					padding: 12px 16px 14px;
					color: $light-text-color;
					display: block !important;
					@include border-radius(0);
					@include transition(all 0.3s ease);
					@media  (max-width: $screen-md-max) { //max 1199px
						font-size: 16px;
					}
					@media (max-width: $screen-sm-max) {  //max 991px
						padding: 8px 12px 10px;
						text-align: center;
					}
				}
				&:hover{
					@include background-image(linear-gradient(#007ab7, #009ad0));
					filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#007ab7', endColorstr='#009ad0',GradientType=0 );
					background-position: 0 0;
				}
			}
		}
	}
}

/* table_data_sheet */
.table-data-sheet{
	border-bottom: $main_border;
	width: 100%;
	margin: 0 0 20px;
	background: $light-background;
	tr{
		border-top: $main_border;
		&.even{
			background: $tr-even-bg;
		}
		td{
			padding: 10px 20px 11px;
			&:first-child{
				border-right: $main_border;
				width: 30%;
				font-weight: 700;
				color: $base-text-color;
			}
		}
	}
}

/* table product-discounts */
table.table-product-discounts{
	border: none;
	border-bottom: $main_border;
	border-right: $main_border;
	width: 50%;
	margin: 0 0 20px;
	background: $light-background;
	@media (max-width: $screen-xs-max) { //max 767px
		width: 100%;
	}
	tr th{
		background: $table-background;
		color: $base-text-color;
		font-weight: 700;
		border: none;
		font-weight: 700;
	}
	tr td,
	tr th{
		border-left: $main_border;
		width: 33%;
		padding: 10px 20px 11px;
		border-top: $main_border;
		border-right: none;
		text-shadow: none;
		text-transform: none;
		font-weight: 13px;
		line-height: 18px;
		border-bottom: none;
	}
}

/* accessories  */
.accessories-block {
	.block_description{
		display: none;
	}
	.exclusive span{
		font-size: 13px;
		line-height: 18px;
		padding: 2px 8px 3px;
		text-decoration: none;
		&:focus,
		&:active{
			text-decoration: none;
		}
	}
	.product-name{
		margin-bottom: 5px;
		a{
			font-size: 15px;
			line-height: 18px;
			color: $product-name-color;
			&:hover{
				color: $product-name-hover-color;
			}
		}
	}
	div ul li {
		a {
			display: inline-block;
		}
		&.s_title_block{
			a,
			span{
				font-weight:700;
			}
		}
	}
}

/* quantity_wanted */
#quantity_wanted_p{
	input {
		width: 78px;
		height: 35px;
		padding: 0 6px;
		float: left;
		border: $main_border;
		line-height: 35px;
	}
	.btn{
		float: left;
		margin-left: 3px
	}
	label{
		display: block;
		margin-bottom: 7px;
	}
}

/* availability_statut */
#availability_statut span#availability_label,
#availability_date_label {
	display: inline-block;
	width: 125px;
	font-weight: 700;
	font-size: 12px;
	text-align: right;
}
#quantityAvailable{
	color: $base-text-color;
	font-size: 13px;
	line-height: 18px;
	font-weight: 700;
}
#availability_value,
#last_quantities {
	color: $light-text-color;
	font-weight: 700;
	line-height: 18px;
	display: inline-block;
	padding: 3px 8px 4px;
	margin-left: 5px;
}
#last_quantities{
	background: #fe9126;
	border: 1px solid #e4752b;
	padding: 4px 8px 3px;
	position: relative;
	top: 1px;
	margin-left: 0px;
}
#availability_statut,
#pQuantityAvailable {
	display: inline-block;
}
#pQuantityAvailable span{
	font-weight: normal;
	color:#868686;
	font-size:15px;
	font-style:italic;
	
}

/* box-security */
.box-security {
	padding: 20px 0;
	clear:both
	
}

/* prices */

.discount {
	display: none;
}
.our_price_display {
	font-weight: 700;
	font-size: 29px;
	line-height: 32px;
	color:#000000;
	@media (max-width: $screen-sm-max) { //max 991px
		font-size: 26px;
		line-height: 28px;
	}
	.price {
		font-weight: 700;
		font-size: 36px;
		line-height: 32px;
		color:#000000;
		@media (max-width: $screen-sm-max) { //max 991px
			font-size: 26px;
			line-height: 28px;
		}
	}
}
#old_price {
	padding-bottom: 15px;
	font-size: 18px;
	text-decoration: line-through;
	display: inline-block;
	line-height: 27px;
	font-weight:500;
	margin:0;
	color:#000000;
	vertical-align:top;
	.price {
		font-size: 16px;
		color:#000000;
	}
}
#reduction_percent,
#reduction_amount {
	overflow: hidden;
    color: white;
    text-align: center;
    z-index: 0;
    min-width: 50px;
    padding: 0 5px;
	background:#f7a62d;
    height: 27px;
    line-height: 27px;
    border-radius: 20px;
    display: inline-block;
	span{
		display:block;
	}
	.hide-left-column.hide-right-column & {
		display: inline-block;
	}
}
#reduction_percent{
	display:none !important;
}
/* online_only */
.pb-center-column p.online_only {
	font-weight: 700;
	font-size: 13px;
	color: #f13340;
	text-align: left;
}
.buttons_bottom_block {
	clear: both;
	#wishlist_button {
		font-weight: 700;
	}
}

/* SEND TO FRIEND (pop-in) ##################################################################### */
#send_friend_form {
	width: 555px;
	overflow: hidden;
	@media (max-width: $screen-xs-max) { // max 767px
		width: 280px;
	}
	.product{
		img{
			margin: 0 0 10px 0;
			border: 1px solid $base-border-color;
		}
		p{
			padding: 0 ;
			color: $base-text-color;
			.product_name {
				font-size: 12px;
				color: #000;
			}
		}
	}
	.form_container {
		padding: 10px 15px;
		border: 1px solid $base-border-color;
		background: $base-box-bg;
		p{
			&.intro_form {
				padding-bottom: 6px;
				font-weight: 700;
				font-size: 13px;
				color: $base-text-color;
			}
			&.txt_required{
				padding-bottom: 0;
				color: #666;
			}
		}
		.text {
			padding-bottom: 10px;
			label {
				display: block;
				padding: 0;
				width: 100%;
				font-size: 12px;
			}
			input {
				padding: 0 5px;
				height: 22px;
				width: 100%;
				border: 1px solid $base-border-color;
				font-size: 12px;
				color: #666;
			}
		}
	}
	.submit {
		margin-top: 20px;
		padding-bottom: 0;
		text-align: right;
	}
}

/* PERSONNALISATION ##################################################################### */

p.infoCustomizable {
	margin-bottom: 30px;
}

ul#uploadable_files,
ul#text_fields {
	list-style-type: none;
}
.customizableProductsFile,
.customizableProductsText {
	margin-bottom: 20px;
	padding-bottom: 10px;
	border-bottom: 1px solid $base-border-color;
}
.customizationUploadLine {
	padding-bottom:10px;
	label{
		display: block;
		vertical-align: top;
	}
	textarea {
		width: 50%;
		border: $main_border;
		color: $text-color;
	}
}
.customizationUploadBrowse img + a {
	position: relative;
	top: -51px;
}
#customizedDatas {
	float: right;
}

/******************************************************************
Quick View Styles
******************************************************************/
#product.content_only {
	div {
		&.primary_block {
			margin-bottom: 0;
			@media (max-width: $screen-sm-max) { //max 991px
				margin-right: 0;
			}
			div {
				&.pb-left-column {
					padding: 20px 20px 5px 35px;
					width: 47%;
					@media (max-width: $screen-xs-max)  {  // max 479px
						width: 70%;
						margin:0 auto;
					}
					@media (max-width: $screen-xs - 1)  {  // max 479px
						width: 100%;
						float: none	;
						padding: 20px 5px 5px 20px;
					}
					span.view_scroll_spacer{
						width: 38px;
						padding-left: 10px;
						@media (max-width: $screen-xs - 1)  {  // max 479px
							width:28px;
						}
					}
					#thumbs_list {
						width: 392px;
					}
				}
				&.pb-center-column {
					padding: 20px 20px 60px 0px;
					margin-bottom: 0;
					min-height: 623px;
					height: 100%;
					@media (max-width: $screen-xs-max) {  //max 991px
						width:100% !important;
					}
					@media (max-width: $screen-sm-max) {  //max 991px
						min-height: 440px;
					}
					@media (max-width: $screen-xs - 1)  { // max 479px
						width: 100%;
						float: none	;
					}
					.product_comments_block_extra{
						padding-right: 0;
					}
					@media (max-width: $screen-xs - 1)  { 	// max 479px
						.comments_advices li{
							display: block;
						}
						.comments_advices a.reviews{
							margin: 0;
							padding: 0;
							border: none;
						}
					}
					#ShareDiv{
						position: absolute;
						bottom: 8px;
					}
				}
				&.pb-right-column {
					width: 25.5%;
					padding-right: 15px;
					padding-left: 0;
					.box-info-product {
						border-top-width: 0px;
						border-right: none;
						border-bottom: none;
						min-height: 623px;
						height: 100%;
						@include border-radius(0 4px 4px 0);
						position: relative;
						padding-bottom: 125px;
						@media (max-width: $screen-sm-max) {  //max 991px
							@include border-radius(0);
							border: $main_border;
						}
						#add_to_cart .exclusive{
							display: block;
							width: 100%;
							&:before,
							&:after{
								display: block;
							}
							span {
								font-size: 20px;
								text-align: center;
								@media (max-width: $screen-md-max) { //max 1199px
									padding: 12px 22px 14px 70px;
									font-size: 20px;
								}
							}
						}
						.box-cart-bottom {
							right: 0;
							left: 0;
						}
					}
					#attributes .attribute_list {
						.form-control {
							width: 230px;
						}
					}
					.product_attributes,
					.box-cart-bottom {
						@include box-shadow(rgba(black,0) 0px 0px 0px);
					}
					.product_attributes {
						padding-top:0;
					}
				}
			}
		}
	}
}
.addsharethisinner .stButton .stArrow {
	display: none !important;
}

@media (max-width:1050px) {
	#product.content_only {
		div,
		section {
			&.primary_block {
				div {
					&.pb-left-column {
						padding-right: 15px;
						#image-block, #views_block {
							max-width: 470px;
							width: 100%;
							margin-left: auto;
							margin-right: auto;
						}
						#thumbs_list {
							width: 288px;
							li {
								width: 90px;
								
							}
						}
					}
					&.pb-center-column {
						width: 50%;
						float: left;
						padding-left: 35px;
					}
					&.pb-right-column {
						width: 50%;
						float: left;
						.box-info-product {
							border-top-width: 1px;
							min-height: 1px;
						}
					}
				}
			}
		}
	}
}
@media (max-width:$screen-xs - 1) {
	#product.content_only div.primary_block div.pb-left-column #thumbs_list {
		width: 194px;
	}
}
/***** IE code ****/

.ie8 {
	.pb-left-column {
		#image-block {
			#view_full_size {
				.span_link {
					background: #fff;
					border: 1px solid $base-border-color;
				}
			}
		}
	}
	.box-security {
		filter: none;
	}
}
.more-info {
	margin-bottom:30px;
	
	> ul {
		display:block;
		font-family: Cabin;
		border:$main_border;
	
		li {
			display:inline-block;
			border-right:$main_border;
			@media (max-width:$screen-xs - 1) {
				width:100%;
			}
			a {
				position: relative;
				line-height: 45px;
				display:block;
				padding:0 20px;
				text-transform: uppercase;
				color: #9f9f9f;
				font-size: 15px;
				font-weight: 700;
				&.selected ,&:hover {
					color:#868686;
				}
			}
		}
	}
}

.page-product-box {
	font-size:15px;
	padding:30px 0;
	min-height:150px;
}
.blockaccessories,.blockproductscategory {
	padding:0;
	border:0;
	.pos-title {
		border-bottom:$main_border;
		padding-bottom:20px;
	}
	.boxprevnext a {
	
		margin-top: -65px;
	}
}
.accessories-pos {
	margin-bottom:50px;
}