#categories_block_top { clear: both; position: relative; top: 30px; }
#categories_block_top .sf-menu { position: relative; }
#categories_block_top .sf-menu > li { position: static; }
#categories_block_top .sf-menu > li > ul { width: 100%; top: 60px; margin: 0 20px; }
#categories_block_top .sf-menu > li > ul > li { display: block; float: left; width: 20%; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; padding: 0 10px; }
#categories_block_top .sf-menu > li > ul > .category_thumb { display: block; clear: both; overflow: hidden; width: 100%; }
#categories_block_top .sf-menu > li > ul > .category_thumb img { display: inline-block; width: 33%; }
#categories_block_top .sf-menu > li h4 a { font-size: 1.1em; }
#categories_block_top .sf-menu > li h4 a:before { display: none; }
#categories_block_top .sf-menu > li .main-level-submenus { position: relative; display: block !important; visibility: visible !important; top: 0; background: none; box-shadow: none; padding: 0; left: 0; }
#categories_block_top .sf-menu .category_thumb { display: none; }

#categories_block_left .title_block { margin: 0; }
#categories_block_left li { position: relative; }
#categories_block_left li a { font-weight: normal; color: #7d7d7d; display: block; font-size: 14px; text-transform: capitalize; line-height: 40px; padding: 0 30px 0 0; }
#categories_block_left li span.grower { display: block; position: absolute; right: 0; top: 0; cursor: pointer; font-family: "FontAwesome"; font-size: 14px; }
#categories_block_left li span.grower.OPEN:before, #categories_block_left li span.grower.CLOSE:before { content: "\f068"; display: block; vertical-align: middle; width: 30px; height: 45px; color: #333333; line-height: 45px; text-align: center; }
#categories_block_left li span.grower.CLOSE:before { content: "\f067"; color: silver; }
#categories_block_left li span.grower:hover + a, #categories_block_left li a:hover, #categories_block_left li a.selected { color: #898989; }
#categories_block_left li li a { font-weight: normal; color: #7d7d7d; text-transform: capitalize; }
#categories_block_left li li a:before { content: "\f105"; font-family: "FontAwesome"; line-height: 29px; padding-right: 8px; }
