@import "compass";
@import "theme_variables";
@import url(https://fonts.googleapis.com/css?family=Vidaloka);
@import url(https://fonts.googleapis.com/css?family=Great+Vibes);
 
/* The Nivo Slider styles */

.nivoSlider {
	position: relative;
	width: 100%;
	overflow: hidden;
	margin-bottom:50px;
	img {
		position: absolute;
		top: 0px;
		left: 0px;
		max-width: none;
	}
	/* If an image is wrapped in a link */
	a.nivo-imageLink {
		position:absolute;
		top:0px;
		left:0px;
		width:100%;
		height:100%;
		border:0;
		padding:0;
		margin:0;
		z-index:6;
		display:none;
		background:white; 
		filter:alpha(opacity=0); 
		opacity:0;
	}
}
.nivo-main-image {
	display: block !important;
	position: relative !important;
	width: 100% !important;
}
/* The slices and boxes in the Slider */
.nivo-slice {
	display: block;
	position: absolute;
	z-index: 5;
	height: 100%;
	top: 0;
}
.nivo-box {
	display: block;
	position: absolute;
	z-index: 5;
	overflow: hidden;
	img {
		display: block;
	}
}
/* Caption styles */
.nivo-html-caption {
    display: none;
}
@-webkit-keyframes myfirst {
		from {width: 0;}
		to {width: 100%;}
	}
	@keyframes myfirst {
		from {width: 0;}
		to {width: 100%;}
	}
	.timethai.pos_hover{
		-webkit-animation-play-state: paused;
		animation-play-state: paused;
		
	}
/* slideshow edit */
.pos-slideshow{
	position: relative;
	&:hover .nivo-directionNav a {
		opacity:1;
		@include pos-transition(300ms);
	}
	.nivo-directionNav a{
		display: block;
		width:70px;
		height: 70px;
		line-height:70px;
		border:0;
		color:#242424;
		background:$light-background;
		text-align: center;
		font-size: 24px;
		position: absolute;
		z-index: 9;
		cursor: pointer;
		top: 50%;
		margin-top:-35px;
		opacity:0;
		@include pos-transition(300ms);
		@media (max-width:$screen-md-max){
			width: 4.9vw;
			height: 4.9vw;
			line-height:4.9vw;
			font-size: 1.68vw;
			margin-top:-2.45vw;
		}
		@media (max-width: 640px){
			display: none;
		}
		&.nivo-prevNav{
			left: 0;
		
		}
		&.nivo-nextNav{
			right: 0;
		
		}
		&:hover{
			background:#898989;
			color:$light-text-color;
		
		}
	}
	.nivo-controlNav{
		position: absolute;
		bottom: 2.45vw;
		left: 0;
		width: 100%;
		text-align: center;
		z-index: 10;
		a{
		
			display: inline-block;
			height: 15px;
			margin: 0 3px;
			font-size: 0;
			width: 15px;
			cursor: pointer;
			position: relative;
			text-align: center;
			z-index: 9;
			border-radius: 100%;
			border: 2px solid #fff;
			background: transparent;
			&:before {
				content: "";
				display: block;
				position: absolute;
				top: 3px;
				bottom: 3px;
				right: 3px;
				left: 3px;
				background: #fff;
				border-radius: 100%;
			}
			&.active{
				background:$hover-color;
			}
		}
	}
	
}


.pos-slideshow-content {
	position: absolute;
	top: 50%;
	right:0;
	left:0;
	text-align: left;
	z-index: 9;
	line-height:1;
	margin-top:-6.5vw;
	font-weight:400;
	direction:ltr;
	.info  {
		text-align:center;
		max-width:40%;
	}
 
}

.desc1  {
	color:#898989;
	letter-spacing:0.02em;
	.title1 {
		font-size:80px;
		line-height:1;
		font-weight:700;
		margin:0;
		position:relative;
		display:inline-block;
		text-transform:capitalize;
		-webkit-animation: zoomInLeft 600ms ease-in-out;
		-moz-animation: zoomInLeft  600ms ease-in-out;
		-ms-animation: zoomInLeft  600ms ease-in-out;
		animation: zoomInLeft  600ms ease-in-out;
		&:after {
			content: "";
			display: block;
			top: 12px;
			right: -48px;
			position: absolute;
			width: 24px;
			height: 56px;
			border-left: 10px solid #898989;
			border-right: 10px solid #898989;
			-moz-transform: skewX(-20deg);
			-webkit-transform: skewX(-20deg);
			-o-transform: skewX(-20deg);
			-ms-transform: skewX(-20deg);
			transform: skewX(-20deg);
		}
		&:before {
			content: "";
			display: block;
			top:12px;
			left: -48px;
			position: absolute;
			width: 24px;
			height: 56px;
			border-left: 10px solid #898989;
			border-right: 10px solid #898989;
			-moz-transform: skewX(-20deg);
			-webkit-transform: skewX(-20deg);
			-o-transform: skewX(-20deg);
			-ms-transform: skewX(-20deg);
			transform: skewX(-20deg);
		}
	}
	.title2 {
		font-size:24px;
		font-weight:700;
		line-height:60px;
		text-transform:capitalize;
		-webkit-animation: zoomInLeft  900ms ease-in-out;
		-moz-animation: zoomInLeft  900ms ease-in-out;
		-ms-animation: zoomInLeft  900ms ease-in-out;
		animation: zoomInLeft  900ms ease-in-out;
		
	}
	.readmore a {
		font-size:12px;
		background:$light-background;
		color:898989;
		line-height:45px;
		padding:0 25px;
		text-transform:uppercase;
		display:inline-block;
		-webkit-animation: zoomInLeft  1200ms ease-in-out;
		-moz-animation: zoomInLeft  1200ms ease-in-out;
		-ms-animation: zoomInLeft  1200ms ease-in-out;
		animation: zoomInLeft  1200ms ease-in-out;
		@include pos-transition(300ms);
		&:hover {
			background:$main-background;
			color:$light-text-color;
		}
	}
}

.desc2 {
	color:#898989;
	letter-spacing:0.02em;
	.title1 {
		font-size:80px;
		margin:0;
		line-height:1;
		font-weight:700;
		position:relative;
		display:inline-block;
		text-transform:capitalize;
		-webkit-animation: zoomInUp 600ms ease-in-out;
		-moz-animation: zoomInUp  600ms ease-in-out;
		-ms-animation: zoomInUp  600ms ease-in-out;
		animation: zoomInUp  600ms ease-in-out;
		&:after {
			content: "";
			display: block;
			top: 12px;
			right: -48px;
			position: absolute;
			width: 24px;
			height: 56px;
			border-left: 10px solid #898989;
			border-right: 10px solid #898989;
			-moz-transform: skewX(-20deg);
			-webkit-transform: skewX(-20deg);
			-o-transform: skewX(-20deg);
			-ms-transform: skewX(-20deg);
			transform: skewX(-20deg);
		}
		&:before {
			content: "";
			display: block;
			top:12px;
			left: -48px;
			position: absolute;
			width: 24px;
			height: 56px;
			border-left: 10px solid #898989;
			border-right: 10px solid #898989;
			-moz-transform: skewX(-20deg);
			-webkit-transform: skewX(-20deg);
			-o-transform: skewX(-20deg);
			-ms-transform: skewX(-20deg);
			transform: skewX(-20deg);
		}
	}
	.title2 {
		font-size:24px;
		font-weight:700;
		line-height:60px;
		text-transform:capitalize;
		-webkit-animation: zoomInUp  900ms ease-in-out;
		-moz-animation: zoomInUp  900ms ease-in-out;
		-ms-animation: zoomInUp  900ms ease-in-out;
		animation: zoomInUp  900ms ease-in-out;
		
	}
	.readmore a {
		font-size:12px;
		background:$light-background;
		color:898989;
		line-height:45px;
		padding:0 25px;
		text-transform:uppercase;
		display:inline-block;
		-webkit-animation: zoomInUp  1200ms ease-in-out;
		-moz-animation: zoomInUp  1200ms ease-in-out;
		-ms-animation: zoomInUp  1200ms ease-in-out;
		animation: zoomInUp  1200ms ease-in-out;
		@include pos-transition(300ms);
		&:hover {
			background:$main-background;
			color:$light-text-color;
		}
	
	}
}
//responsive
@media (max-width:$screen-md-max) {
	.desc1  {
		.title1 {
			font-size:5.6vw;
			&:after {
				top: 0.84vw;
				right: -3.4vw;
				width: 1.7vw;
				height: 3.9vw;
				border-left: 0.7vw solid #898989;
				border-right: 0.7vw solid #898989;
			}
			&:before {
				top: 0.84vw;
				left: -3.4vw;
				width: 1.7vw;
				height: 3.9vw;
				border-left: 0.7vw solid #898989;
				border-right: 0.7vw solid #898989;
			}
		}
		.title2 {
			font-size:1.68vw;
			line-height:4.1vw;
			
		}
		.readmore a {
			line-height:3.15vw;
			padding:0 1.75vw;
		}
	}

	.desc2 {
		.title1 {
			font-size:5.6vw;
			&:after {
				top: 0.84vw;
				right: -3.4vw;
				width: 1.7vw;
				height: 3.9vw;
				border-left: 0.7vw solid #898989;
				border-right: 0.7vw solid #898989;
			}
			&:before {
				top: 0.84vw;
				left: -3.4vw;
				width: 1.7vw;
				height: 3.9vw;
				border-left: 0.7vw solid #898989;
				border-right: 0.7vw solid #898989;
			}
		}
		.title2 {
			font-size:1.68vw;
			line-height:4.1vw;
			
		}
		.readmore a {
			line-height:3.15vw;
			padding:0 1.75vw;
		
		}
	}
}
@media (max-width:$screen-sm-max) {
	.desc1  {
		color:#898989;
		.title1 {
			font-size:5.6vw;
			line-height:5.5vw;
			font-weight:800;
		}
		.title2 {
			font-size:1.68vw;
			line-height:4.1vw;
			padding:0 3.75vw;
			
		}
		.readmore a {
			font-size:12px;
			line-height:30px;
			padding:0 3.75vw;
			
		}
	}

	.desc2 {
		color:#898989;
		.title1 {
			font-size:5.6vw;
			line-height:5.5vw;
			font-weight:800;
		}
		.title2 {
			font-size:1.68vw;
			line-height:4.1vw;
			padding:0 3.75vw;
			
		}
		.readmore a {
			font-size:12px;
			line-height:30px;
			padding:0 3.75vw;		
		}
	}
	
}

