@import url(https://fonts.googleapis.com/css?family=Vidaloka);
@import url(https://fonts.googleapis.com/css?family=Great+Vibes);
/* The Nivo Slider styles */
.nivoSlider { position: relative; width: 100%; overflow: hidden; margin-bottom: 50px; /* If an image is wrapped in a link */ }
.nivoSlider img { position: absolute; top: 0px; left: 0px; max-width: none; }
.nivoSlider a.nivo-imageLink { position: absolute; top: 0px; left: 0px; width: 100%; height: 100%; border: 0; padding: 0; margin: 0; z-index: 6; display: none; background: white; filter: alpha(opacity=0); opacity: 0; }

.nivo-main-image { display: block !important; position: relative !important; width: 100% !important; }

/* The slices and boxes in the Slider */
.nivo-slice { display: block; position: absolute; z-index: 5; height: 100%; top: 0; }

.nivo-box { display: block; position: absolute; z-index: 5; overflow: hidden; }
.nivo-box img { display: block; }

/* Caption styles */
.nivo-html-caption { display: none; }

@-webkit-keyframes myfirst { from { width: 0; }
  to { width: 100%; } }

@keyframes myfirst { from { width: 0; }
  to { width: 100%; } }

.timethai.pos_hover { -webkit-animation-play-state: paused; animation-play-state: paused; }

/* slideshow edit */
.pos-slideshow { position: relative; }
.pos-slideshow:hover .nivo-directionNav a { opacity: 1; -webkit-transition: all 300ms ease-in; -moz-transition: all 300ms ease-in; -ms-transition: all 300ms ease-in; -o-transition: all 300ms ease-in; transition: all 300ms ease-in; }
.pos-slideshow .nivo-directionNav a { display: block; width: 4.9vw; height: 4.9vw; line-height: 4.9vw; border: 0; color: #242424; background: white; text-align: center; font-size: 1.68vw; position: absolute; z-index: 9; cursor: pointer; top: 50%; margin-top: -2.45vw; opacity: 0; -webkit-transition: all 300ms ease-in; -moz-transition: all 300ms ease-in; -ms-transition: all 300ms ease-in; -o-transition: all 300ms ease-in; transition: all 300ms ease-in; }
@media (max-width: 640px) { .pos-slideshow .nivo-directionNav a { display: none; } }
.pos-slideshow .nivo-directionNav a.nivo-prevNav { left: 0; }
.pos-slideshow .nivo-directionNav a.nivo-nextNav { right: 0; }
.pos-slideshow .nivo-directionNav a:hover { background: #898989; color: white; }
.pos-slideshow .nivo-controlNav { position: absolute; bottom: 2.45vw; left: 0; width: 100%; text-align: center; z-index: 10; }
.pos-slideshow .nivo-controlNav a { display: inline-block; height: 15px; margin: 0 3px; font-size: 0; width: 15px; cursor: pointer; position: relative; text-align: center; z-index: 9; border-radius: 100%; border: 2px solid #fff; background: transparent; }
.pos-slideshow .nivo-controlNav a:before { content: ""; display: block; position: absolute; top: 3px; bottom: 3px; right: 3px; left: 3px; background: #fff; border-radius: 100%; }
.pos-slideshow .nivo-controlNav a.active { background: #898989; }

.pos-slideshow-content { position: absolute; top: 50%; right: 0; left: 0; text-align: left; z-index: 9; line-height: 1; margin-top: -6.5vw; font-weight: 400; direction: ltr; }
.pos-slideshow-content .info { text-align: center; max-width: 40%; }

.desc1 { color: #898989; letter-spacing: 0.02em; }
.desc1 .title1 { font-size: 80px; line-height: 1; font-weight: 700; margin: 0; position: relative; display: inline-block; text-transform: capitalize; -webkit-animation: zoomInLeft 600ms ease-in-out; -moz-animation: zoomInLeft  600ms ease-in-out; -ms-animation: zoomInLeft  600ms ease-in-out; animation: zoomInLeft  600ms ease-in-out; }
.desc1 .title1:after { content: ""; display: block; top: 12px; right: -48px; position: absolute; width: 24px; height: 56px; border-left: 10px solid #898989; border-right: 10px solid #898989; -moz-transform: skewX(-20deg); -webkit-transform: skewX(-20deg); -o-transform: skewX(-20deg); -ms-transform: skewX(-20deg); transform: skewX(-20deg); }
.desc1 .title1:before { content: ""; display: block; top: 12px; left: -48px; position: absolute; width: 24px; height: 56px; border-left: 10px solid #898989; border-right: 10px solid #898989; -moz-transform: skewX(-20deg); -webkit-transform: skewX(-20deg); -o-transform: skewX(-20deg); -ms-transform: skewX(-20deg); transform: skewX(-20deg); }
.desc1 .title2 { font-size: 24px; font-weight: 700; line-height: 60px; text-transform: capitalize; -webkit-animation: zoomInLeft  900ms ease-in-out; -moz-animation: zoomInLeft  900ms ease-in-out; -ms-animation: zoomInLeft  900ms ease-in-out; animation: zoomInLeft  900ms ease-in-out; }
.desc1 .readmore a { font-size: 12px; background: white; color: 898989; line-height: 45px; padding: 0 25px; text-transform: uppercase; display: inline-block; -webkit-animation: zoomInLeft  1200ms ease-in-out; -moz-animation: zoomInLeft  1200ms ease-in-out; -ms-animation: zoomInLeft  1200ms ease-in-out; animation: zoomInLeft  1200ms ease-in-out; -webkit-transition: all 300ms ease-in; -moz-transition: all 300ms ease-in; -ms-transition: all 300ms ease-in; -o-transition: all 300ms ease-in; transition: all 300ms ease-in; }
.desc1 .readmore a:hover { background: #898989; color: white; }

.desc2 { color: #898989; letter-spacing: 0.02em; }
.desc2 .title1 { font-size: 80px; margin: 0; line-height: 1; font-weight: 700; position: relative; display: inline-block; text-transform: capitalize; -webkit-animation: zoomInUp 600ms ease-in-out; -moz-animation: zoomInUp  600ms ease-in-out; -ms-animation: zoomInUp  600ms ease-in-out; animation: zoomInUp  600ms ease-in-out; }
.desc2 .title1:after { content: ""; display: block; top: 12px; right: -48px; position: absolute; width: 24px; height: 56px; border-left: 10px solid #898989; border-right: 10px solid #898989; -moz-transform: skewX(-20deg); -webkit-transform: skewX(-20deg); -o-transform: skewX(-20deg); -ms-transform: skewX(-20deg); transform: skewX(-20deg); }
.desc2 .title1:before { content: ""; display: block; top: 12px; left: -48px; position: absolute; width: 24px; height: 56px; border-left: 10px solid #898989; border-right: 10px solid #898989; -moz-transform: skewX(-20deg); -webkit-transform: skewX(-20deg); -o-transform: skewX(-20deg); -ms-transform: skewX(-20deg); transform: skewX(-20deg); }
.desc2 .title2 { font-size: 24px; font-weight: 700; line-height: 60px; text-transform: capitalize; -webkit-animation: zoomInUp  900ms ease-in-out; -moz-animation: zoomInUp  900ms ease-in-out; -ms-animation: zoomInUp  900ms ease-in-out; animation: zoomInUp  900ms ease-in-out; }
.desc2 .readmore a { font-size: 12px; background: white; color: 898989; line-height: 45px; padding: 0 25px; text-transform: uppercase; display: inline-block; -webkit-animation: zoomInUp  1200ms ease-in-out; -moz-animation: zoomInUp  1200ms ease-in-out; -ms-animation: zoomInUp  1200ms ease-in-out; animation: zoomInUp  1200ms ease-in-out; -webkit-transition: all 300ms ease-in; -moz-transition: all 300ms ease-in; -ms-transition: all 300ms ease-in; -o-transition: all 300ms ease-in; transition: all 300ms ease-in; }
.desc2 .readmore a:hover { background: #898989; color: white; }

@media (max-width: 1199px) { .desc1 .title1 { font-size: 5.6vw; }
  .desc1 .title1:after { top: 0.84vw; right: -3.4vw; width: 1.7vw; height: 3.9vw; border-left: 0.7vw solid #898989; border-right: 0.7vw solid #898989; }
  .desc1 .title1:before { top: 0.84vw; left: -3.4vw; width: 1.7vw; height: 3.9vw; border-left: 0.7vw solid #898989; border-right: 0.7vw solid #898989; }
  .desc1 .title2 { font-size: 1.68vw; line-height: 4.1vw; }
  .desc1 .readmore a { line-height: 3.15vw; padding: 0 1.75vw; }
  .desc2 .title1 { font-size: 5.6vw; }
  .desc2 .title1:after { top: 0.84vw; right: -3.4vw; width: 1.7vw; height: 3.9vw; border-left: 0.7vw solid #898989; border-right: 0.7vw solid #898989; }
  .desc2 .title1:before { top: 0.84vw; left: -3.4vw; width: 1.7vw; height: 3.9vw; border-left: 0.7vw solid #898989; border-right: 0.7vw solid #898989; }
  .desc2 .title2 { font-size: 1.68vw; line-height: 4.1vw; }
  .desc2 .readmore a { line-height: 3.15vw; padding: 0 1.75vw; } }
@media (max-width: 991px) { .desc1 { color: #898989; }
  .desc1 .title1 { font-size: 5.6vw; line-height: 5.5vw; font-weight: 800; }
  .desc1 .title2 { font-size: 1.68vw; line-height: 4.1vw; padding: 0 3.75vw; }
  .desc1 .readmore a { font-size: 12px; line-height: 30px; padding: 0 3.75vw; }
  .desc2 { color: #898989; }
  .desc2 .title1 { font-size: 5.6vw; line-height: 5.5vw; font-weight: 800; }
  .desc2 .title2 { font-size: 1.68vw; line-height: 4.1vw; padding: 0 3.75vw; }
  .desc2 .readmore a { font-size: 12px; line-height: 30px; padding: 0 3.75vw; } }
