.pos-bestsellers { display: inline-block; width: 100%; }
@media (max-width: 991px) { .pos-bestsellers { margin-bottom: 50px; } }
.pos-bestsellers .item-product { text-align: left; border: 0; display: inline-block; width: 100%; margin: 0 0 15px 0; }
.pos-bestsellers .item-product:last-child { margin: 0; }
.pos-bestsellers .item-product .products-inner { float: left; width: 37.5%; padding: 0; margin-right: 20px; }
@media (max-width: 1199px) { .pos-bestsellers .item-product .products-inner { width: 36.5%; } }
.pos-bestsellers .item-product .product-contents { background: transparent; overflow: hidden; display: block; padding: 0; width: auto; }
.pos-bestsellers .item-product .product-contents .price-box { position: static; margin-bottom: 8px; }
.pos-bestsellers .item-product .product-contents .price-box .price-percent-reduction { display: none; }
.pos-bestsellers .item-product .product-contents .product-desc { display: none; }
