#tags_block_left { border-bottom: 1px solid #555; }
#tags_block_left .block_content { overflow: hidden; padding: 15px 0; }
#tags_block_left .block_content a { display: inline-block; color: #959595; font-size: 14px; text-transform: capitalize; line-height: 31px; font-weight: normal; padding: 0 15px; border: 1px solid #555; margin: 0 5px 5px 0; border-radius: 4px; -webkit-transition: all 300ms ease-in; -moz-transition: all 300ms ease-in; -ms-transition: all 300ms ease-in; -o-transition: all 300ms ease-in; transition: all 300ms ease-in; }
#tags_block_left .block_content a:hover { color: white; border-color: #898989; background: #898989; -webkit-transition: all 300ms ease-in; -moz-transition: all 300ms ease-in; -ms-transition: all 300ms ease-in; -o-transition: all 300ms ease-in; transition: all 300ms ease-in; }

#columns #tags_block_left { margin-bottom: 30px; border: 1px solid #e5e5e5; }
#columns #tags_block_left h4 { font-size: 21px; font-weight: normal; color: white; text-transform: uppercase; line-height: 50px; background: #363636; padding: 0 18px; }
#columns #tags_block_left .block_content { padding: 15px; }
